[2019-01-13 08:51] auchenberg opened #1 "MacOS: Paste doesn't work in url input"

[2019-01-13 08:51] auchenberg opened #2 "Support setting starturl from setting"

[2019-01-13 08:51] auchenberg opened #3 "Viewport size is sometimes off on initial render"

[2019-01-13 19:03] #2 closed, assigned to nobody

[2019-01-13 19:29] auchenberg opened #4 "Scroll direction is always reversed"
See https://github.com/auchenberg/vscode-browserview/blob/master/src/components/screencast/screencast.tsx#L243

[2019-01-14 17:12] misolori opened #6 "Allow right-click in url bar"
Would be great to be able to paste in a URL via right-click in the url bar

[2019-01-14 17:14] misolori opened #7 "Open browser url in BrowserView instead"
Not sure if this is possible, but it would be great to be able to open the URL that is being sent to the browser from Code (via browserSync, for example) or an option to enable that.

[2019-01-15 05:03] #4 closed

[2019-01-15 20:55] burkeholland commented on #3
I noticed that it seems to pick up the zoom level of VS Code as well. If you set the zoom to a 4, the page is zoomed in on as well.

[2019-01-15 20:58] burkeholland opened #8 "Rendering is off on resize"
When you resize the panel, the preview seems to have a bit of trouble adjusting to the new panel size.

![2019-01-15_14-56-39](https://user-images.githubusercontent.com/686963/51209530-0f48ad80-18d6-11e9-8d62-03c114cf9231.gif)

[2019-01-16 14:40] johnpapa opened #9 "searching for settings doesnt find any results"
when i search for `browser preview` (space or no space) in settings, no results appear

nor is there any autocomplete for this setting referenced in the readme

[code]

When I added this to the settings.json manually, it works. However it is underlined as it appears the json schema is unaware of it.

[code]

[2019-01-16 14:46] johnpapa opened #10 "Unclear how to open the browser preview"
The readme says to ....

I think it is referring to this (shown below) in the groups in the explorer.

![image](https://user-images.githubusercontent.com/1202528/51256442-6badda80-1973-11e9-88f6-cda8303175d1.png)

I do not have these visible, ever. I turn them off with `"explorer.openEditors.visible": 0,`

If this is the intent, then it should be stated in the readme that it can be accessed here o

[2019-01-16 14:48] johnpapa opened #11 "Consolidate the command palette menu"
There are 2 menu options that appear to do the same thing

![image](https://user-images.githubusercontent.com/1202528/51256557-b3346680-1973-11e9-8d8f-be70f927d7b1.png)

- Browser: Show Browser Preview
- View: Show Browser Preview

If they are different, perhaps clarify in the readme. If they are indeed the same, consolidate them

[2019-01-16 15:00] johnpapa opened #12 "[Enhancement] - Allow adding this npm scripting"
Imagine we can add a command to our npm scripts to open the browser preview to a specific url. That would be an awesome feature.

[code]

this would require some way to launch it, obviously, from the command line.

[2019-01-21 21:00] #9 closed

[2019-01-21 22:55] auchenberg commented on #12
Added via new debugging support. See readme

[2019-01-21 22:55] #12 closed

[2019-01-21 22:55] auchenberg commented on #7
Added via new debugging support. See readme

[2019-01-21 22:55] #7 closed

[2019-01-21 23:02] auchenberg commented on #11
I renamed the command to be more consistent. VS Code Core contributes the two others automatically, and I can't hide them.

[2019-01-21 23:02] #11 closed

[2019-01-22 00:38] auchenberg commented on #1
Caused by upstream issue https://github.com/Microsoft/vscode/issues/65452

[2019-01-22 00:44] auchenberg opened #13 "Feature: Add mobile device emulation"
Add mobile device emulation so each device preview can represent a specific device.

Multiple device configurations could be provided, to open multiple at the same time too. A virtual device lab!

[2019-01-22 00:55] auchenberg commented on #6
@misolori What context menu options would you expect?

[2019-01-22 01:47] nicolasparada opened #14 "Improve blurred rendering"
![screenshot](https://i.imgur.com/Ml4Hv8Y.png)
Preview looks so blurry. I'm on Windows, 1920x1080 with a 150% zoom factor.

[2019-01-22 04:41] misolori commented on #6
Just the basics, like this:

<img width="162" alt="image" src="https://user-images.githubusercontent.com/35271042/51512838-d2d8ee00-1dbc-11e9-8dd6-716d440ec789.png">

[2019-01-22 05:35] rao123dk opened #15 "Unable to install."
I am getting an error "Unable to install because the extension 'auchenberg.vscode-browser-preview' compatible with current version '1.29.1' of VS Code is not found".

Spec :-
Code :- v1.29.1
OS:- Ubuntu 18.04.1

[2019-01-22 05:40] auchenberg commented on #15
Update your VS Code version to the newest version 1.30 and you should be able to install.

[2019-01-22 05:40] #15 closed

[2019-01-22 05:41] auchenberg opened #16 "Replace hard-coded remote debugging port"
Replace hard-coded remote debugging port with a dynamic range.

[2019-01-22 05:41] auchenberg commented on #14
This is kinda expected as the rendering is a stream of PNG's from Chrome, so some compression is expected, but I'm wondering if anything can be done to improve this.

[2019-01-22 08:47] modul8com opened #17 "BUG: Can't launch Chrome"
On my workPC Chrome is here:
C:\ProgramData\App-V\59B860A4-01C5-4693-93C0-81E835526730\3C66E565-8B3B-4F79-8DA0-AC77B1C890EF\Root\VFS\ProgramFilesX86\GoogleChromePortable\App\Chrome-bin\chrome.exe --enable-websocket-over-spdy

So when I try to run the browserpreview, I get a popup error:
Failed to launch chrome! spawn C:\Program Files (x86)\Google\Chrome\Application\chrome.exe ENOENT
TROUBLESHOOTIN

[2019-01-22 08:54] christian-korneck opened #18 "Add support for Local file URLs"
Browser Preview Version: 0.2.5
VS Code Version: 1.30.2 (1.30.2)
Platform: macOS 10.14.2
Chrome version: 71.0.3578.98 (Official Build) (64-bit)

Trying to open a valid file URL in Browser Preview (i.e. `file:///Users/myuser/myfile.html`) doesn't work:
- A blank page is displayed (no error message)
- The URL in the address bar changes from `file://<url>` to `file//<url>` (i.e. `file///Users/myuser/m

[2019-01-22 09:01] christian-korneck commented on #17
I can see a similar issue on macOS:

- when I don't have Chrome open and then launch VS Code and open browser preview in it, I'm unable to start another Chrome instance
- when I already have a Chrome instance open and then launch VS Code and open browser preview in it, I can use Chrome and browser preview in parallel

I guess Chrome has some sort of a lock, but didn't look any further.

Browser Pr

[2019-01-22 11:08] michellocana commented on #18
I have a similar error, but with **blob://** files:
`Failed to load resource: net::ERR_UNKNOWN_URL_SCHEME [blob:http://localhost:3000/72334931-d3fd-41ac-a5ba-bea316cee06b]`

[2019-01-22 13:11] gokulkrishh commented on #18
@auchenberg @michellocana  Same here. Browser is not able to read blob URL's. Attaching screenshots.

<img width="1553" alt="screenshot 2019-01-22 at 6 39 22 pm" src="https://user-images.githubusercontent.com/2944237/51537681-31fa3980-1e75-11e9-9beb-560f4fb1de44.png">

Same URL works find in chrome.

[2019-01-22 13:22] gokulkrishh commented on #18
@auchenberg I can see that in your `extension.ts` file. `localResourceRoots` property has only allowed access to the extension build folder only.  I think changing this might work as the [webview API documentation](https://code.visualstudio.com/api/extension-guides/webview#controlling-access-to-local-resources).

[2019-01-22 15:09] fredrikaverpil opened #20 "Feature: Bookmarks"
This is a super nice extension! 😄👍

Bookmarks would be a super useful feature for those of us who just want to be able to keep any arbitrary web page opened in a vscode tab as a reference when coding

Perhaps a command palette cmd "Browser Preview Bookmarks" could show a list of predefined bookmarks which you could choose between. Hit enter on one to make it launch in a new tab.

[2019-01-22 15:17] fredrikaverpil opened #21 "Improve sluggish, low fps rendering"
Scrolling is very sluggish on any web page (e.g. the startup vscode page). I just tried to go to YouTube and the videos were playing with low fps, perhaps around 10 or so... (I didn't do any scientific measuring).

Perhaps this is a known issue or known side effect of Chrome Headless?

I'm on a MacBook Air (11-inch, Early 2015) running macOS Mojave.

[2019-01-22 15:26] hitmacreed commented on #15
hi, i have the same issue and i have lates version of vsCode
even if i install it manualy does not open , the reload button does not deseapear

[2019-01-22 15:50] Florian-R opened #23 "Support Chromium"
This extension use under the hood the [which-chrome](https://www.npmjs.com/package/which-chrome) module to get the path to the chrome bin.

This module is also able to get the path of chromium if installed.

Would you be open to a PR falling back to chromium if chrome is not present, or maybe through a setting?

This might be handy on Debian related systems where chromium is in the default repos b

[2019-01-22 16:01] auchenberg commented on #15
Latest version is Version 1.30 from November. Please download from https://code.visualstudio.com/Download

[2019-01-22 16:14] myspivey opened #24 "Not respecting launch URL port"
Using the following config, it is not respecting the port of the URL and still launching with :3000

`{
  "launch": {
    "configurations": [
      {
        "name": "Browser Preview: Launch",
        "type": "browser-preview",
        "request": "launch",
        "url": "http://localhost:4201"
      }
    ],
    "compounds": []
  }
}`

[2019-01-22 16:16] myspivey commented on #24
Pretty sure this is not a dupe of #16. Wanted to get it post to be sure, feel free to close if it is.

[2019-01-22 16:23] auchenberg commented on #24
@myspivey What if you use an non-localhost url? Does that work?

[2019-01-22 17:39] adrianbw opened #26 "Vue/Nuxt: Preview consistently one save behind actual"
Using Vue/Nuxt, which hot reloads code, the browser preview is very consistently showing me the state of the last change, rather than the one I just made. See attached screenshot where the "more" text in the browser has no underline, but preview is showing one.

MacBook Pro OSX latest
2.9 GHz Intel Core i7
16 GB 2133 MHz LPDDR3
Radeon Pro 560 4096 MB
Intel HD Graphics 630 1536 MB

<img width="1166

[2019-01-22 17:49] max-frai commented on #21
+1 it lags a lot and after some time vscode not responding.

[2019-01-22 18:37] qJake opened #27 "Support Previewing Static HTML Files"
**Extension version:** 0.2.5
**Environment:** Windows 10 Pro x64, VS Code 1.30.2, Chrome 71.0.3578.98 (Official)

**Request:**

Support opening a preview window for basic *.html files.

**Current behavior:**

1. Open a local HTML file
2. F1 > Browser Preview: Open Preview
3. Browser window displays VS Code homepage

**Expected behavior:**

1. Open a local HTML file
2. F1 > Browser Preview: Open Pr

[2019-01-22 19:37] auchenberg commented on #21
See https://github.com/auchenberg/vscode-browser-preview/issues/14

[2019-01-22 19:39] bitnotri commented on #23
Seems like a simple case of adding ``` whichChrome.Chrome || whichChrome.Chromium```
https://github.com/auchenberg/vscode-browser-preview/blob/6d955bc8a0867f45e6b599799a5b2c022b50bfc9/ext-src/browser.ts#L17

[2019-01-22 19:51] auchenberg commented on #23
I'm open to PR's. We should also check if the path actually exists on disk. @Florian-R

[2019-01-22 22:00] coxfrederic commented on #27
Same expectations here. Installed the extension and thought it was broken when the first attempt I made was opening it with a local html file.

[2019-01-23 00:05] damassi opened #31 "Support Audio"
Just tried to do some coding while watching youtube and no go 😄Not sure if audio is supported by headless chrome, but maybe?

[2019-01-23 01:18] beetaa commented on #23
have the newest version been published to the marketplace? I download the extension, and it seems that chromium till not working. and I think there are some people want to use portable version of Chromium, so It's good if user can specify the path in the extension's setting. thank you! @auchenberg

[2019-01-23 01:19] auchenberg commented on #23
Landed in PR. Will ship in next version

[2019-01-23 01:20] auchenberg commented on #17
@modul8com How do you detect the path to your portable Chrome version? You have a hardcoded shortcut on your desktop?

[2019-01-23 03:47] yourhead commented on #27
Yep. Same.
Nothing in the description, read-me, instructions, etc. seems to indicate that it is only for a web app.

If there is some way to use this extension to view static content, could someone give me a hint? Thanks.

[2019-01-23 08:49] modul8com commented on #17
@auchenberg yes, they have put a shortcut in our startmenu.

[2019-01-23 08:53] modul8com commented on #17
@auchenberg we also need something similar for the Debug for Chrome... look our launch.json looks like this, maybe you can use it as an inspiration ;).
{
            "type": "chrome",
            "request": "launch",
            "name": "Launch Chrome",
            "url": "http://localhost:4200",
            "webRoot": "${workspaceFolder}",
            "runtimeExecutable": "C:\\Users\\I30364\\AppD

[2019-01-23 09:03] modul8com commented on #17
@auchenberg that path thingy made me think, maybe I should the path to my Chrome in my "PATH" variable, and then in a new CMD window, I could start "chrome.exe" as expected, but the "Browser Preview" still gives the same error message, because it wants to find Chrome in the wrong place, at C:\Program Files (x86)\Google\Chrome\Application there is no chrome.exe

[2019-01-23 12:16] harlley opened #32 "Rendering is pixeled on Mac OS"

[2019-01-23 12:21] mjurczyk commented on #14
@auchenberg https://github.com/auchenberg/vscode-browser-preview/blob/master/src/App.tsx#L144
Wouldn't changing format from `jpeg` from `png` help? (Not sure how to debug and test performance, since I don't get the blurriness myself tho)

Also removing https://github.com/auchenberg/vscode-browser-preview/blob/master/src/connection.ts#L21 could speed up streaming a bit, since right now seems to be

[2019-01-23 13:40] mjurczyk commented on #32
#21 ?

[2019-01-23 16:56] jhicken opened #34 "https invalid cert causes page to not load"
So I have tested this with a few different servers. When I open a page with an invalid cert (such as a self signed cert for dev) The page does not load. If I open the page in native chrome I am able to accept the security exception. But on browser-preview I get a blank page.

[2019-01-23 18:16] giannif opened #35 "chrome://inspect not loading"
Putting `chrome://inspect` in the location bar and hitting enter doesn't load the devtools page. If there's another way to do this, lmk. Love the project, thanks!

Chrome: Version 71.0.3578.98
Mac OS: 10.14.2 (18C54)
VSCode: Version 1.30.2 (1.30.2)

[2019-01-23 18:35] auchenberg commented on #17
@modul8com For now I rely on https://github.com/sasaplus1/which-chrome to provide the Chrome detection, and don't support portable/custom chrome installations at this point.

[2019-01-23 18:38] auchenberg commented on #14
@mjurczyk We can try? I don't have an overview of the quality differences.

And for the logging, we should probably introduce a verbose logging setting that toggles this. I'd love some help with this.

[2019-01-23 18:39] auchenberg commented on #35
You can't load Chrome internal Chrome pages from Browser Preview. You would have to do this in a new Chrome instance.

[2019-01-23 18:39] #35 closed

[2019-01-23 18:39] auchenberg commented on #32
Duplicate of #21

[2019-01-23 18:39] #32 closed

[2019-01-23 18:40] auchenberg commented on #34
Good catch, this needs to be supported somehow.

[2019-01-23 18:41] auchenberg commented on #34
In general the we should probably support
- Any HTTP error
- Cert errors
- Add Dino game? for crashes :)

[2019-01-23 18:41] auchenberg commented on #26
@adrianbw Interesting. Have you tried other frameworks that users HMR? Wondering if this is specific to Vue/Nuxt.

[2019-01-23 18:45] auchenberg commented on #27
Opening local `file://` urls aren't supported at this time, but should be trivial to add, as we are just controlling a Chrome instance.?

For BrowserSync/LiveReload capabilities, then I intent to keep Browser Preview a browser. Any live reloading functionality should be provided by WebPack's HMR, injected scripts into the page, etc, so if you want this my recommendation would be to find a npm/cli

[2019-01-23 18:45] #27 closed

[2019-01-23 18:49] giannif commented on #35
Gotcha. The docs say `Features: Attach Chrome DevTools via chrome://inspect`, which makes it seem to be a feature of `Browser Preview`. But it's a normal feature of Chrome that we've all been using already

Also, how do I use devtools in `Browser Preview`

[2019-01-23 19:59] auchenberg commented on #35
Setup network detection in port 9222, and you should see the open tabs showing for your previews.

![screen shot 2019-01-23 at 11 59 38 am](https://user-images.githubusercontent.com/173559/51633387-62d67f00-1f06-11e9-8123-31e9f90ded1f.png)

[2019-01-24 02:14] ThaddeusJiang commented on #1
I face the same bug, not just URL input.

[2019-01-24 03:48] sandiiarov commented on #26
The same issue with:
- React 16.7.0
- React Hot Loader 4.6.3

[2019-01-24 10:38] hitmacreed commented on #15
yes it worked , weird my vsCode did not warn me about updates , well thank anyway

[2019-01-24 10:39] mjurczyk commented on #14
I can look into the logging and test the PNG rendering (the second earliest on the weekend though).

[2019-01-24 10:41] mjurczyk opened #36 "Make logging optional"
Add `verbose` setting to enable logging to the console.
By default disable logging to save performance.

---

https://github.com/auchenberg/vscode-browser-preview/issues/14#issuecomment-456782018
https://github.com/auchenberg/vscode-browser-preview/issues/14#issuecomment-456917400

[2019-01-24 10:42] mjurczyk commented on #14
https://github.com/auchenberg/vscode-browser-preview/issues/36 - @auchenberg can you please assign me there? I don't have permissions.

[2019-01-24 12:42] IllusionMH opened #37 "Feature: Add "fit to width" scaling of viewport"
First of all I want to thank you for this extension. I like the idea and implementation, and it helps me with prototyping fir side projects.

As I can see - size of browser preview affects viewport size that is rendered by headless chrome, which is expected but not ideal for my case.

I'm working on website where I should see full desktop version. At this moment I have to stack editors and preview

[2019-01-24 15:58] adrianbw commented on #26
The only other system I use that does hot reloads is Meteor/Blaze and I can’t replicate the issue there.

[2019-01-24 17:18] auchenberg commented on #37
I think we could solve this scenario by adding a "device emulation" where one of the devices you can choose is a desktop. Much similar to the device emulation Chrome already offers. Would this work @IllusionMH ?

[2019-01-24 17:19] auchenberg commented on #26
Interesting. Wondering if this is related to Webpacks HMR. What webpack version are you using @adrianbw ?

[2019-01-24 17:22] adrianbw commented on #26
The whole chain, in case it's useful:

`nuxt@2.3.4 -> @nuxt/webpack@2.3.4 -> webpack@4.27.1 `

[2019-01-24 17:45] IllusionMH commented on #37
Looks like it will solve first part, and will render site with 1920px width.
But will it allow second point - "fit to width"?
In my case I want to make Browser preview tab width like 1/3 or 1/4 of screen (so I will have enough space for code and file explorer/git/etc.) and downscaled version of the page will be better than need for horizontal scrolling through page.
In combination with dynamic cha

[2019-01-25 10:36] gjsjohnmurray opened #40 "Add support for window.open"
Some web apps use window.open to pop up secondary pages. It'd be nice if Browser Preview could handle this kind of thing:

```window.open("https://code.visualstudio.com","_blank","width=600,height=400");```

[2019-01-25 13:52] jnunderwood commented on #17
On Ubuntu Linux, I get the error `No Chrome installation found - used path null`. Of course, we use `chromium-browser` instead of `chrome`. I installed `which-chrome` for testing; running the command `which-chrome Chromium` works. So, I'm not sure why this extension is not working for me. Maybe being able to specify a custom installation path would solve this problem.

[2019-01-25 16:47] modul8com commented on #17
I've got it solved I think... I'll have to figure out how to test it, and make a pull request this weekend...

[2019-01-25 19:43] auchenberg commented on #40
@gjsjohnmurray Interesting case. I'm wondering if there's an API for this over https://chromedevtools.github.io/devtools-protocol/tot/Page

[2019-01-25 19:44] auchenberg commented on #40
There seems to be https://chromedevtools.github.io/devtools-protocol/tot/Page#event-windowOpen, so it should be trivial to listen for this, and open a new browser view instance with the url. Wanna take a stab at it @gjsjohnmurray ?

[2019-01-26 00:52] bzuillsmith opened #41 "Descriptions on debug configurations not correct"
All I see on hover over configuration attributes in my `launch.json` file are tooltips like `%chrome.webRoot.description%` which I imagine is supposed to be a variable that is replaced with the actual description.

[2019-01-26 04:53] bzuillsmith opened #42 "Getting weird click event delays"
I tried using this while working on the React Tic Tac Toe tutorial. My click events aren't fully processing right away. I have to click on a box (a <button ...>) and then I have to click somewhere else like on some text on the page before the click event is fully processed and an X or and O appears in the box I clicked first. Click events work fine and immediately in a normal browser though. So it

[2019-01-26 05:49] Arminkhodaei commented on #6
Hi,

I have to say that I'm developing this option and it would be ready to PR in some days... 😉
menu style till now:

![vscode-preview-browser-menu](https://user-images.githubusercontent.com/13152108/51783183-6c045d80-214b-11e9-908e-1068661470b6.png)

[2019-01-26 06:06] auchenberg commented on #6
@Arminkhodaei Amazing!

[2019-01-26 06:12] #41 closed

[2019-01-26 07:34] rao123dk commented on #15
Yes, it works. Close this issue.

[2019-01-26 23:46] #36 closed

[2019-01-28 03:18] auchenberg commented on #34
I think the best way would be to listen to https://chromedevtools.github.io/devtools-protocol/tot/Security#event-certificateError, and render a simple error page with the info, just like Chrome does. You would expect this of Chrome, and for a browser preview.

A new power user setting could also be introduced to ignore certs, but I'd like to avoid introducing new settings/flags unless they are abs

[2019-01-28 03:34] bzuillsmith commented on #42
I'm running Windows 10. Have the latest public version of yes code 64-bit. There's nothing special about my screens, they are not high DPI. Everything else about VS Code is working. If I find the time, I'll try to demonstrate this with Hover and click effects in a video.

[2019-01-28 08:44] modul8com commented on #17
Thanks Kenneth !  Just let you know, it works now on my work PC too, just updated and reloaded code... works as intended !  And probably does for all the other too now.

[2019-01-28 15:56] auchenberg commented on #17
Good to hear!

[2019-01-28 18:21] MartinoMensio opened #44 "v0.2.6 default browser undefined"
Hi,
From the recent update 0.2.6 that introduced the custom location of Chrome, the extension default browser is not working. Downgrading to 0.2.5 makes the extension work again without changing anything else.

## Details of the error

A popup error appears: "cannot read property 'remoteDebugPort' of undefined" when I run the configuration "launch".

`launch.json`
[code]

My app is simply an angul

[2019-01-28 23:34] gjsjohnmurray commented on #40
I've updated to 0.2.6 and now window.open produces a new tab, but it doesn't load from the url specified in the window.open call

For example, go to https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_open and click on the "Try it" button on the right-hand pane.

In my testing using that page, sometimes the new tab shows URL 'about:blank' and other times it loads the page my browser-pr

[2019-01-29 01:08] #44 closed

[2019-01-29 01:09] auchenberg commented on #44
Sorry about that @MartinoMensio, please update to the newest version and let me know how it works.

[2019-01-29 01:10] auchenberg commented on #40
@gjsjohnmurray Can you try in 0.2.7? Issue should be fixed now.

[2019-01-29 07:02] gjsjohnmurray commented on #40
Yes, fixed. Thanks for the prompt service.

[2019-01-29 07:02] #40 closed

[2019-01-29 07:05] gjsjohnmurray commented on #42
I'm seeing something that sounds similar. I'm using the current VSCode Insiders (1.31) on Win64.

It looks to me like a missing repaint, because when I resize the VSCode window the content of my Browser Preview tab refreshes and shows the correct content.

[2019-01-29 07:09] bzuillsmith commented on #42
That would certainly explain it.

On Mon, Jan 28, 2019, 11:05 PM John Murray <notifications@github.com wrote:

[2019-01-29 07:32] gjsjohnmurray opened #45 "Typing ineffective after tabbing to next input field"
1. Go to https://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_submit for a simple two-field form.
2. Type new value into the first field.
3. Press TAB. Focus appears to move to the second field as desired.
4. Try typing a new value here. Nothing happens.
5. Click mouse into the second field. Now typing works.

[2019-01-29 13:05] gjsjohnmurray opened #46 "Javascript initiated dialog (e.g. alert) freezes Browser Preview"
If script on a page invokes ```alert('Hello world')``` the page becomes unresponsive. Nor does the alert appear.

The issue probably affects ```confirm``` and ```prompt``` in the same way, plus any dialog arising from ```onbeforeunload```.

I suspect Browser Preview needs to listen for [Page.javascriptDialogOpening](https://chromedevtools.github.io/devtools-protocol/tot/Page#event-javascriptDialog

[2019-01-29 19:22] auchenberg commented on #42
@bzuillsmith @gjsjohnmurray Might be a duplicate of https://github.com/auchenberg/vscode-browser-preview/issues/3?

[2019-01-29 19:24] auchenberg commented on #46
Ah, good catch! Hadn't though of that. We should indeed look into this.

[2019-01-29 19:47] auchenberg commented on #42
@bzuillsmith What if you open the browser preview followed by resizing the browser preview? Does thing work more as expect? I suspect this is caused by a wrong initial render.

[2019-01-29 19:53] bzuillsmith commented on #42
Nope. Resizing doesn't seem to help. I just retried to be sure. I also just tested some hover events and those lag behind in a similar manner -- it's always painting the last hover event and not the most current hover.

[2019-01-29 20:10] auchenberg commented on #42
Interesting. This sounds like a dup of https://github.com/auchenberg/vscode-browser-preview/issues/26 then :)

[2019-01-30 14:32] modul8com commented on #14
@mjurczyk you have to push to your own repo first, when you made a Fork, a copy is saved in your Github account, you probably first need to add a new origin for that version, then push to that "own" version, then on the Github website you can do a pull request (it'll check what's different between your version and @auchenberg 's version... and voila, that'll be your pull request ;-).

[2019-01-30 16:13] peterblazejewicz opened #48 "Configuration settings access path"
This looks wrong:
https://github.com/auchenberg/vscode-browser-preview/blob/a9d9c5354ca915f4fed9e41cbabd4037b1eabb2e/ext-src/extension.ts#L173
[code]
as AFAIK the other code sets that property directly on the configuration object.

Thanks!

[2019-01-30 18:34] #48 closed

[2019-01-30 18:35] auchenberg commented on #48
Nicely spotted @peterblazejewicz !

[2019-02-03 04:28] Jaans opened #51 "Support for objectURLs created through window.URL.createObjectURL(blob)"
First of all, great job and thank you!

Our site creates a lot of [objectURLs ](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL )for blobs that are fetched from APIs, to display those blob data (Images, Stylesheets, Markup, etc.). It invokes the browser to create them via calls to `window.URL.createObjectURL(blob)` and the resulting URL takes the form of
`blob:https://www.your

[2019-02-03 07:07] auchenberg commented on #51
Interesting case @Jaans! Would you be able to put together a demo page that would enable us to test this?

[2019-02-03 07:17] auchenberg commented on #51
Looks like to be an upstream Chrome headless issue, https://github.com/GoogleChrome/puppeteer/issues/3463

Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=902918&desc=2

[2019-02-03 07:20] #1 closed, assigned to nobody

[2019-02-03 07:30] auchenberg commented on #6
Ideally this should be provided by VS Code. See open issue https://github.com/Microsoft/vscode/issues/54285

[2019-02-03 12:34] Arminkhodaei commented on #6
Thanks. I hadn't seen that fairly old issue! Let me look into the webview's structure more profoundly...
By the way, In my opinion, that could be sensible to use an internal context menu in the meantime, and do refactoring and replace it, if there would be another option available by vscode's webview.

[2019-02-03 12:58] demosglok opened #52 "novice questio (need help)"
i'm on windows. chrome 71.0.3578.98, vscode 1.30.2
i'm coding in VueJS.

I installed browser preview.

launch.json after adding configurations
{
  // Use IntelliSense to learn about possible attributes.
  // Hover to view descriptions of existing attributes.
  // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
  "version": "0.2.0",
  "configurations": [
    {
      "typ

[2019-02-03 14:35] aleclarson opened #53 "Debugging a web worker"
Is it possible (or are there plans) to attach the debugger to a web worker?

[2019-02-03 18:58] auchenberg commented on #52
What url does your local VUE development server run on?

[2019-02-03 18:59] auchenberg commented on #53
That's more an upstream issue for the debugger, which I see you already found. https://github.com/Microsoft/vscode-chrome-debug-core/issues/251#event-1314602769

[2019-02-03 18:59] #53 closed

[2019-02-04 00:15] Jaans commented on #51
Thanks for the update and finding under Chromium bugs. Do you still need me to create a demo page, or is the repro from the bug report sufficient?

[2019-02-04 05:32] Jaans commented on #51
Was Chrome 71, now 72 :-) Hoo-Rah! It works now.
Thank you for your help. Much appreciated.

[2019-02-04 05:32] #51 closed

[2019-02-04 07:05] Arminkhodaei commented on #6
@auchenberg I have a fundamental problem with providing this option by vscode. Probably I'm facing a misunderstanding about vscode webview's capabilities. In my point of view, a webview is simply a HTML container (iframe like) inside a main viewport which is provided by vscode. So, there isn't any address bar since actually there is no access to the external contents. With this in mind, how they c

[2019-02-04 15:53] mjurczyk commented on #14
@auchenberg Not sure how work progressing on this issue - but I think skipping all the props-passing of React and vdom calculations could improve performance too ... not too much time to make a PoC though..

[2019-02-04 15:54] mjurczyk commented on #14
Reading frame in a separate service and passing directly to the canvas could be a bit faster and smoother.

[2019-02-04 15:55] auchenberg commented on #14
@mjurczyk Haven't looked into this. Someone should profile and see if it's a React problem or a delay in the png stream we get from Chrome.

[2019-02-04 15:56] auchenberg commented on #17
@LeonardoGentile Looks like a permission issue. See https://stackoverflow.com/questions/19009778/running-node-express-on-linux-produces-error-spawn-eacces

[2019-02-04 18:00] qJake commented on #27
@auchenberg Would that issue also cover HTML files that only exist in the VS Code workspace that were **not** saved to disk?

I think there'd be a lot of confusion if someone could preview `my-saved-file.html` but not `Untitled-1` with Language mode set to HTML.

How would that be handled via a `file://` URL?

[2019-02-04 18:35] auchenberg commented on #27
@qJake The purpose of this extension is to now to provide a preview of html files, but to embed a real browser inside VS Code. So on a principle level if a real browser can preview the given file, so should the browser preview extension.

[2019-02-04 20:18] demosglok commented on #52
I found setting to set default url for browser preview. actually when I run vue app in devmode manually it uses port 8080. however from "browser preview extension" description I expected that once installed, it'll run devserver itself. like "npm start" and set PORT envvar to match opening url and devserver.

do you want to say that I need first run devserver and only then open browser preview?

[2019-02-04 20:41] auchenberg commented on #52
@demosglok You can use a `launch.json` configuration for this together with a pre task that starts your dev server. See https://www.nealbuerger.com/2017/09/08/vscode-launch-create-react-app-and-chrome-with-launch-json/

Browser Preview is a browser, just like Chrome, and won't start a local dev server for you. But you can configure Browser Preview with other parts of VS Code to automate the workfl

[2019-02-04 20:41] #52 closed

[2019-02-05 09:54] LeonardoGentile commented on #17
@auchenberg no, I have found the problem.
The path should be to the executable, which is stored within the `.app` container, that is, instead of this:

[code]
use this:
[code]

and it seems to work

[2019-02-05 14:52] Semigradsky opened #54 "Support camera"
I haven't see video when open https://davidwalsh.name/demo/camera.php in preview.

[2019-02-05 17:46] auchenberg commented on #17
@LeonardoGentile  Cool,  good to hear!

[2019-02-08 02:41] qJake commented on #27
@auchenberg Totally understand that reasoning. I guess I was just hoping for something along the lines of [this](https://marketplace.visualstudio.com/items?itemName=tht13.html-preview-vscode) or [this](https://marketplace.visualstudio.com/items?itemName=hdg.live-html-previewer) (which support in-memory files) but with a better browser engine behind it - because whatever implementation those plugin

[2019-02-08 03:06] auchenberg commented on #27
@qJake Virtual document support could sure be added, so a given editors buffer could be sent to the browser instance, but I'm just worried that it would be a slippery slope, as the next request would be imagine and css support, etc. The easiest solution would simply to be to start the integrated terminal `npm install http-server && http-server` and point Browser Preview to the url.

[2019-02-10 19:20] #8 closed

[2019-02-10 19:21] auchenberg commented on #3
Tried fixing this in https://github.com/auchenberg/vscode-browser-preview/commit/616cc557fc24d962ac04a44012b966766047a746

[2019-02-10 19:21] #3 closed

[2019-02-10 19:53] #14 closed

[2019-02-10 20:19] #46 closed

[2019-02-11 00:00] auchenberg opened #55 "Feature: Inspect element -> open source file"
This feature is new "inspect element" mode that allows you to Inspect an element in VS Code. When clicking instead of seeing the element in a DOM Explorer, you instead see the source file for the component that created the DOM element. Think of this as the DOM explorer for the Component-age, or a built-in React DevTools like experience in Browser Preview.

Initial plumbing in https://github.com/au

[2019-02-11 09:53] gjsjohnmurray commented on #46
Looks good, though I wonder if the VSCode message that alert() produces should be modal, to mimic the way a browser alert() prevents user interaction anywhere else.

[2019-02-11 09:59] gjsjohnmurray opened #56 "Support window.close()"
Under #40 you added support for window.open(), but if a script invokes window.close(), for example in response to a click on a "Proceed" button, the window doesn't disappear.

https://github.com/ChromeDevTools/devtools-protocol/issues/146#issuecomment-460563159 might be useful.

[2019-02-11 10:30] gjsjohnmurray opened #57 "window.opener is null for window launched by window.open()"
#40 implemented window.open(), but if window A uses it to open window B, the value of window.opener within B is null rather than a reference to A.

[2019-02-11 16:00] auchenberg commented on #46
@gjsjohnmurray We don't have such thing as far as I'm aware.

[2019-02-11 16:03] gjsjohnmurray commented on #46
Isn't that what the ```modal``` property of ```MessageOptions``` does?

https://code.visualstudio.com/api/references/vscode-api#MessageOptions

[2019-02-11 16:06] auchenberg commented on #57
@gjsjohnmurray Feel free to open PRs ;)

[2019-02-11 19:07] beriberikix opened #58 "Duplicate previews when switching themes"
On a fresh run of Visual Studio Code, after I launch Browser Preview and cycle through Themes, I see duplicate windows open up.

Steps to reproduce:
• Open a fresh instance of VSC
• Click the Browser Preview icon in the activity bar
• The preview launches in a new column
• cmd-shift-P to change the color theme.
• Move up or down with arrows and after the first theme and a second preview launches i

[2019-02-11 19:55] auchenberg commented on #58
Interesting case @beriberikix. Probably a result of me mis using the sidebar as toolbar.

[2019-02-11 21:27] beriberikix commented on #58
My hunch, and I don't have any data to back it up, is that there's something in the reload logic when switching themes that's causing something to fire. Is it possible its a bug in VSC itself?

[2019-02-13 23:11] bzuillsmith commented on #42
Yep, definitely seems like a dup. Feel free to close if you'd rather it now show up in the open issues.

[2019-02-13 23:13] #42 closed

[2019-02-16 06:00] michael-hawker opened #59 "No default launch.json created"
If I have a new project and hit 'F5' it gives me the option to use Browser Preview as my debug target, but it will then fail as no launch.json configuration is found.

If I do the same procedure with the regular chrome debugger extension, it'll instead create the default launch.json file with the required configuration needed to launch the tools.  It'd be great for the Browser Preview to do the sa

[2019-02-16 16:44] cosminalco opened #60 "One event behind"
Window 10

2 elements with click events attached
click first element - nothing happens
click second element  - first element event initiated
click first element - second element event initiated

with css the same / 2 elements:hover
first:hover - nothing happens
second:hover - first element hover initiated
first:hover - second element hover initiated

To see what I mean look at this page in Google

[2019-02-16 18:47] cosminalco commented on #60
Temporary fix until the bug is fixed. I created an temporary element that updates constantly with mouse position forcing the previous event to trigger:

[code]

[2019-02-17 03:07] #60 closed

[2019-02-17 03:09] auchenberg commented on #60
@cosminalco Thanks for a great repro, I think I imagined to fix the frame delay, which was the same cause as https://github.com/auchenberg/vscode-browser-preview/issues/26

[2019-02-17 03:09] auchenberg commented on #26
@adrianbw Should be fixed in the newest release, please give it a try.

[2019-02-17 03:09] #26 closed

[2019-02-17 03:10] auchenberg commented on #21
@pelotom Please try the newest release

[2019-02-17 03:35] auchenberg commented on #59
@michael-hawker Good catch! If you press the wrench a default config should be generated for you.

[2019-02-17 05:23] #6 closed

[2019-02-17 05:34] auchenberg commented on #34
Examples of all errors to implement, https://badssl.com/

[2019-02-17 05:59] auchenberg commented on #31
Upstream issue, https://github.com/GoogleChrome/puppeteer/issues/478#issue-252072596

[2019-02-17 06:03] auchenberg opened #61 "Disable chrome sandbox on Linux"
See https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#setting-up-chrome-linux-sandbox

[2019-02-19 00:00] #61 closed

[2019-02-19 10:54] gjsjohnmurray commented on #45
Doesn't seem to fix what I'm seeing. To demonstrate I've created a fiddle at https://jsfiddle.net/gjsjohnmurray/Lst6xe0g/

1. Point Browser Preview 0.3.0 at that URL.
2. Click the Run button.
3. Click into the first textfield in the form on the lower right.
4. Type some text and press Tab.
5. Highlight moves to the second field but typing there doesn't put anything into it.

![image](https://user-

[2019-02-19 14:54] auchenberg commented on #45
@gjsjohnmurray Does the original demo page work for you?

[2019-02-19 14:59] gjsjohnmurray commented on #45
No it doesn't. Here's my About info:

Version: 1.32.0-insider (user setup)
Commit: a75cf6e4b4317de0bf38284af255bdf0089deb68
Date: 2019-02-19T06:18:01.215Z
Electron: 3.1.3
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Windows_NT x64 10.0.16299

[2019-02-19 15:25] auchenberg commented on #45
@gjsjohnmurray Interesting. Works here on MacOS.

What's your Chrome version? Mine is Version 72.0.3626.96 (Official Build) (64-bit)

[2019-02-19 15:27] auchenberg commented on #45
Ah, actually seems to be a problem with the VS Code Insiders edition. Tested and validated in VS Code Stable so far.

    });

[2019-02-19 17:26] auchenberg commented on #45
@gjsjohnmurray Please try version `0.3.1`

[2019-02-20 08:07] gjsjohnmurray commented on #45
0.3.1 resolves this in Insiders. Thanks!

[2019-02-20 08:07] #45 closed

[2019-02-23 22:11] cosminalco opened #63 "Address bar doesn't update on history.pushState"
Everything works as expected is just that the address bar doesn't update on `history.pushState`. To reproduce click the links in the example bellow.

[code]

[2019-02-24 00:11] #63 closed

[2019-02-24 20:03] #13 closed

[2019-02-24 20:04] auchenberg commented on #13
Initial work on mobile device emulation has landed:

![device](https://user-images.githubusercontent.com/173559/53304621-39be4c80-382c-11e9-9eda-d3a4d8ef4f50.gif)

[2019-02-24 20:05] auchenberg opened #65 "Feature: Add dropdown of device configurations for device emulation"
Add a dropdown of predefined mobile devices like Chrome DevTools.

Source could be https://github.com/mozilla/simulated-devices

[2019-02-26 09:02] vmary2014 opened #66 "Feature: Add support for Drag and drop"
Hi
Thanks for this extension. For me it works very well except the drag and drop. I currently dev a website in React where I can drag and drop columns (using Office fabric and their DetailsList).

In Chrome "normal browser" this works fine, but the extension in vscode doesn't seem to trigger the events.

Maybe related I can also notice that the mouse cursor is not updated - it remains the default

[2019-02-26 16:56] auchenberg commented on #66
That's a good catch. Browser Preview works by streaming from a headless Chrome, so we would have to find a way to make this possible.

[2019-02-26 16:57] auchenberg opened #67 "Feature: Update mousecursor when moving around."
I can also notice that the mouse cursor is not updated - it remains the default arrow even on clickable items where it should change.

[2019-02-26 16:57] auchenberg commented on #66
Related https://github.com/auchenberg/vscode-browser-preview/issues/67

[2019-02-26 16:57] auchenberg commented on #67
Idea: Update cursor property on <canvas>

[2019-03-03 10:44] cosminalco opened #68 "Cannot connect to runtime process, timeout after 10000 ms"
Actually is working perfectly but only after the second time I launch the debugger, the first time I get this error:
![screenshot 15](https://user-images.githubusercontent.com/42435633/53693982-7cde6980-3db0-11e9-9ef7-49620694e12e.png)

The newcomers may think the extension is not working.

Maybe is because of Debugger for Chrome extension I don't know, I would be happy just know if there is somew

[2019-03-04 18:21] tylerjmccarthy opened #70 "Error on run"
Error whenever I try to run that states 'Configured debug type 'chrome' is not supported.'

Here is JSON

[code]

[2019-03-04 19:20] auchenberg commented on #70
You need to install the Chrome debugger before you can debug. See https://github.com/auchenberg/vscode-browser-preview#launch-and-debugging

[2019-03-04 19:20] #70 closed

[2019-03-05 21:51] auchenberg commented on #66
@vmary2014 Do you have an example? Libs like http://interactjs.io/ seems to work fine.

[2019-03-07 15:30] daryldauphin opened #71 "Feature: Add ability to open current open html file as file://<path>"
hello,

When I press the preview button it opens the vs code website.

I want to open any html file I'm working on.

how do I change the setting for that?

[2019-03-07 17:57] auchenberg commented on #71
Currently we don't support launching individual files, but you can start a local dev server like `npx http-server` and visit `http://localhost:3000` with browser preview.

I've renamed the issue for clarity.

[2019-03-08 06:34] Taariqq commented on #27
Just continue to use Brackets, I guess.

[2019-03-08 06:36] Taariqq commented on #18
Only reason people are still using Brackets. Fantastic Live Preview that is second to none.

[2019-03-08 08:46] #18 closed

[2019-03-08 15:08] daryldauphin commented on #71
this is not a "live" preview extension?

[2019-03-08 17:33] auchenberg commented on #71
No, it's a browser preview. A browser inside VS Code. You can combine it with live-server, or alike to have 'live preview"

[2019-03-08 18:19] daryldauphin commented on #71
Ok cool,

I have the live server plugin  installed.

How do I combine them?

On Fri, Mar 8, 2019, 12:33 PM Kenneth Auchenberg <notifications@github.com>
wrote:

[2019-03-13 13:40] barbuza commented on #21
I'm experiencing blurred rendering on linux, extension version 0.4.0

![2019-03-13-163523_2560x1440_scrot](https://user-images.githubusercontent.com/37811/54283124-6dc89a00-45ae-11e9-9b1a-0b2d8da372e6.png)

system info

[code]

[2019-03-14 21:02] auchenberg opened #72 "Add ability to set a random viewport size for testing responsive sites"
https://github.com/davidjgoss/rwd-randomiser

[2019-03-17 01:51] auchenberg commented on #68
@cosminalco Would you happen to have other Chrome instances running in your machine?

[2019-03-17 09:48] cosminalco commented on #68
No, but maybe is because I'm using the portable version of VSCode from on a partition, Windows is on `C:` VSCode is in `D:/Apps/VSCode`

[2019-03-18 22:18] ErickPetru commented on #71
@auchenberg what about using the `file:` URL scheme? Maybe it can be the default action only if there's no `launch.json` in the current workspace folder or if the current file is being edited directly (not in the workspace).

[2019-03-24 06:43] sh7dm opened #73 "extension"

[2019-03-24 15:30] sh7dm opened #74 "Lags in 1.32.3"
Preview is laggy in VS Code v1.32.3.

[2019-03-24 15:32] sh7dm opened #75 "Blurry rendering on non-retina displays"
![изображение](https://user-images.githubusercontent.com/19504461/54881652-160a1880-4e63-11e9-91da-5d11a3aadd91.png)

Version: 1.32.3
Electron: 3.1.6

[2019-03-24 15:34] sh7dm commented on #74
Looks like it's related to #75 because of method of displaying image.

[2019-03-24 15:34] sh7dm commented on #74
OS: Ubuntu 18.04, latest updates

[2019-03-24 17:31] auchenberg commented on #74
Yup, this is a know issue due to the limitations of Chrome Headless. See https://github.com/auchenberg/vscode-browser-preview/issues/21

[2019-03-24 17:31] #74 closed

[2019-03-24 17:31] auchenberg commented on #75
What's your screen resolution and DPI?

[2019-03-24 17:36] sh7dm commented on #75
FHD, 102 dpi

[2019-03-24 17:37] sh7dm commented on #74
:(, but the project itself is very nice! Good job!

[2019-03-25 03:08] auchenberg commented on #74
Thanks @sh7dm !

[2019-03-26 10:37] SirTwsted opened #76 "Small Problem with this extension"
Anything I do, opened the panel of Browser Preview.
im not even requesting to preview it and yet it opens all by itself.
If I click on empty space, it opens.  If I select a different file or folder in the sideBar, it opens.
If I look at VS Code the wrong way, it opens.
I had no choice but to disable the extension, because I was afraid to touch VS code,
because the Browser Preview window would open

[2019-03-26 17:00] mhofman opened #77 "Ability to launch chrome with runtimeArgs"
I need to launch chrome with command line flags (in particular `--js-flags`). Currently there is no way to add those.

It might be worth considering adding support for some other [launch request options](https://github.com/Microsoft/vscode-chrome-debug/blob/5908efd42713ea9f3dbe4471415e413f55430a24/src/chromeDebugInterfaces.d.ts#L16) provided by `vscode-chrome-debug` such as `userDataDir`.

[2019-03-26 17:12] mhofman opened #78 "Browser preview causes GPU process 100% on Pixelbook"
Launching browser preview on a Pixelbook, with VSCode installed using Linux Apps (aka crostini), the GPU process shoots up to 100%, and the whole system becomes unresponsive.

[2019-03-26 17:16] mhofman commented on #78
Probably duplicate of https://github.com/auchenberg/vscode-browser-preview/issues/21

[2019-03-31 06:13] auchenberg commented on #37
@IllusionMH You can now try this out by pull https://github.com/auchenberg/vscode-browser-preview/pull/79, and running from source.

[2019-03-31 17:37] IllusionMH commented on #37
Tried PR branch, but looks like it doesn't work on my machine 😭

When I use Launch Extension in master branch - it all works as expected, I can see any site (except `example.com` for some reason 0_o)

When I launch same task from PR branch (after `npm i` of course) - it is always "blank" page.
![image](https://user-images.githubusercontent.com/1312662/55292410-4b7aad00-53f3-11e9-9f80-e51dff7b8d21.

[2019-03-31 19:04] auchenberg commented on #37
Interesting @IllusionMH. Never seen that icon before on the canvas there..

How do you start Browser Preview? From the icon on in the sidebar?

[2019-03-31 19:37] IllusionMH commented on #37
Yes, that's what I do.

May be that icon is on that background that is visible because page rendered as 0px x 0px (if top right corner info is true)

I've enabled verbose logging and logging and looks like there is infinite loop in my case.

CPU load goes high after launching Browser Preview tab (from icon in the sidebar) and fan became loud.
These four repeating lines appear from time to time (my

[2019-03-31 20:08] auchenberg commented on #37
@IllusionMH Funky. If you start Browser Preview, and opens a new chrome instance, goes to `chrome://inspect`, and enables network targets for `localhost:9222`, does the tab show up? What happens if you try to open Chrome DevTools for that tab?

[2019-03-31 20:54] IllusionMH commented on #37
Looks like there are 2 tabs instead of one opened: aboit:blank and tab from preview.
And tab for preview seems normal (only exception is check if cookie policies were viewed).

![image](https://user-images.githubusercontent.com/1312662/55294916-3c562800-5410-11e9-988b-24a22a225641.png)

[2019-03-31 21:06] auchenberg commented on #37
Alright, so the Headless Chrome instance is running as expected. That's interesting. So this is a problem with the Browser Preview front-end that runs inside VS Code.

[2019-03-31 21:12] auchenberg commented on #37
@IllusionMH Can you try this build?  (install from VSIX ) after you have unzipped.

[vscode-browser-preview-0.5.0.vsix.zip](https://github.com/auchenberg/vscode-browser-preview/files/3027160/vscode-browser-preview-0.5.0.vsix.zip)

[2019-03-31 22:06] IllusionMH commented on #37
@auchenberg same problems as with extension host (checked on both latest insiders and stable versions)
<details>
<summary>Console log after launching Browser Preview for the first time</summary>

[code]
</details>

Not sure what causes infinite loop.

Unfortunately I don't have enough knowledge of extension code and time to debug this issue locally, but will try when have time.

[2019-04-01 03:56] auchenberg commented on #37
@IllusionMH Aha, I think I know what  it is. Stay tuned. Thanks for testing!

[2019-04-02 09:47] pitops commented on #21
I experience same issues as above. Any fixes?

[2019-04-06 01:24] auchenberg commented on #37
@IllusionMH Can you try to pull the branch and run a `npm start` followed by opening `http://localhost:3000` in Chrome? Do you still have that infinite loop? Can't reproduce here, so so wondering what's going in

[2019-04-07 05:18] #37 closed

[2019-04-07 05:18] #65 closed

[2019-04-07 05:25] auchenberg commented on #78
Dup of #21

[2019-04-07 05:25] #78 closed

[2019-04-07 21:22] IllusionMH commented on #37
@auchenberg sorry for delay, only now had a chance to take look at this.
Unfortunately - looks like I still have problem even inside Chrome.
1) `npm i`
2) `npm start`
3) Opened `https://localhost:3000`

Console has a lot of logs that looks same:
![image](https://user-images.githubusercontent.com/1312662/55689932-a84a0a80-5993-11e9-8cc4-dcac64cf51e0.png)

Pause on uncaught exceptions revealed:

`In

[2019-04-08 01:51] auchenberg commented on #37
@IllusionMH Quite interesting you are getting sub pixel values back. Pushed a fix to master. If you pull the extension and launch from within VS Code you should be able to get a full browser preview. Running `npm start` only gives you the frontend, without the Chrome headless.

[2019-04-08 10:52] mayc0njr commented on #58
Same problem here. Actually, even without any open browser tab, switching or previewing another theme will launch one tab.

[2019-04-08 12:19] IllusionMH opened #81 "Infinite loop in calculateViewportSize because of sub-pixel dimensions"
Initially was spotted/discussed in #37 .

Infinite re-render loop caused by sub-pixel dimension is still there and f414aec doesn't fix the problem.

Root cause of this issue ATM - different processing of subpixel values:
`roundNumber` in [viewport.tsx](https://github.com/auchenberg/vscode-browser-preview/blob/master/src/components/viewport/viewport.tsx#L230-L232) will round to 2 decimal digits, an

[2019-04-08 18:25] #81 closed

[2019-04-08 18:25] auchenberg commented on #81
Good catch @IllusionMH. Hereby using `math.floor` consistently everywhere.

[2019-04-09 00:12] auchenberg commented on #21
@barbuza The blurry rendering should have been fixed in master. See https://github.com/auchenberg/vscode-browser-preview/issues/75

[2019-04-09 00:13] auchenberg commented on #32
Should have been fixed in master. See https://github.com/auchenberg/vscode-browser-preview/issues/75

[2019-04-09 00:13] auchenberg commented on #14
Finally found the issue for non-retina monitors. See https://github.com/auchenberg/vscode-browser-preview/issues/75

[2019-04-09 20:32] #72 closed

[2019-04-10 08:38] kevinmarrec commented on #21
@auchenberg Still experiencing the issue with **0.5.0**

[2019-04-10 15:10] proshuai opened #82 "how to cross origin"

[2019-04-10 15:16] auchenberg commented on #21
@kevinmarrec Interesting, so that's a high-dpi issue (4k). Can I get you to open a new issue with screenshots from your setup?

[2019-04-10 15:17] auchenberg commented on #82
@proshuai It's a regular browser, so you should be able to access ```http://localhost` or alike. What's your scenario?

[2019-04-10 20:36] warpdesign commented on #71
Would love the ability to open any file (using `file:`), not only url that requires a development server.

This would make developing/testing simple static files so much better than having to open a browser outside of Chrome.

What's needed to allow that? Maybe I can help.

[2019-04-10 20:40] auchenberg commented on #71
@warpdesign A new command, looking for the active editor, get the path, and calls the command. See https://github.com/ritwickdey/vscode-live-server/pull/352/files#diff-4cbd5cd13f78253cfc946a1c37956f65R233 for inspiration

[2019-04-10 20:44] warpdesign commented on #75
It seems there are still some blurry problems:

![image](https://user-images.githubusercontent.com/199648/55911610-45e64980-5be1-11e9-903b-04a6a8a7564b.png)

That's what I get on macOS with a QHD 27" display (2560 x 1440, should be around 110ppi I guess).

VSCode: 1.33.0
BrowserPreview: 0.5.0 (default settings: I haven't changed anything)

[2019-04-10 21:05] auchenberg commented on #75
@warpdesign What if you resize the browser preview a bit, does things get sharper? I've seen this on some monitors.

[2019-04-10 21:39] warpdesign commented on #75
It doesn't change: still blurry.

Le mer. 10 avr. 2019 à 23:05, Kenneth Auchenberg <notifications@github.com>
a écrit :

[2019-04-10 23:25] kevinmarrec commented on #21
@auchenberg What are the elements you need on the screenshots ?

It seems to be same issue as @barbuza which has 1440p display.
![Screenshot from 2019-04-11 01-23-27](https://user-images.githubusercontent.com/25272043/55920015-74235380-5bf8-11e9-96aa-a5aa6884e3f1.png)

So yeah, high-dpi issue

[2019-04-11 08:59] proshuai commented on #82
i know how to solve it.3q

[2019-04-11 08:59] #82 closed

[2019-04-11 12:34] WSLUser opened #86 "Feature request: Use any chromium-based browser like MS Edge"
Windows Insiders features a revamped Microsoft Edge powered by Chromium. I would prefer to use it in place of Chrome in instances where the Windows version is supported (the April 2019 release).

**Update (Sep 2020)**: There's a stand-alone msi you can use to install it. Also, it's possible for any chromium based browser to be used so all of them should be detectable by the extension.

[2019-04-11 15:50] auchenberg commented on #21
Upstream Chromium issue on video streaming: https://bugs.chromium.org/p/chromium/issues/detail?id=781117

[2019-04-11 15:54] IllusionMH commented on #86
You should be able just specify path to your `msedge.exe` installation as Chrome Executable.
Or in config for your user name:
[code]

[2019-04-11 16:38] WSLUser commented on #86
I will give that a try once it hits the stable release.

[2019-04-11 18:30] yozlet commented on #55
@auchenberg Any more work planned on this? It's a killer feature, and you have enough users that putting out a partially-working "alpha" version might get some traction for contributions. (Especially amongst devs involved with unsupported frameworks.)

[2019-04-11 20:59] auchenberg commented on #55
@yozlet Needs a refactor, and highlighting needs to be adjusted to the new emulation mode, so a bit of work ahead.

[2019-04-11 22:16] auchenberg commented on #86
This is a good idea, since Edge is based on Chromium and the used APIs are somewhat stable. Right now we use `which-chrome` to detect the Chrome installation, but this could easily be modified to detect any compatible Chromium verison

[2019-04-12 16:25] warpdesign opened #89 "Format configuration not working?"
While trying to reduce blurry I set the format to `png` but it doesn't seem to work. The image tag which is generated still seems to contain jpg data:

![image](https://user-images.githubusercontent.com/199648/56051885-4fda8a80-5d50-11e9-98f1-050a9e2bdcfe.png)

[code]

[2019-04-12 16:43] warpdesign commented on #89
Actually the base64 data contains png data, it's just the src base64 header that wrongly indicates jpg. Luckily Chrome doesn't seem to care...

[2019-04-12 16:56] warpdesign commented on #89
I made a fix for that: this won't remove the blur effect but at least that's one bug removed :)

[2019-04-12 17:00] auchenberg commented on #89
Good catch @warpdesign!

Since you already are peaking under the surface. Can you compare the rendered image on the `<img>` to the rendered output on the `<canvas>` and see if there's a difference in clarity? My experience is that on some machines and DPIs the canvas is blurry, while the image frame is clear.

[2019-04-12 17:05] warpdesign commented on #71
@auchenberg I think this issue can be closed.

[2019-04-12 17:07] #89 closed

[2019-04-12 17:41] warpdesign commented on #89
@auchenberg Already had a look: image is already blurry in `<img>` tag.

The following screenshot shows the render:

 1. in Chrome (outside VSCode)
 2. in VSCode/canvas tag
 3. in VSCode/img tag

![image](https://user-images.githubusercontent.com/199648/56055750-a947b700-5d5a-11e9-8a81-b50a45539e6d.png)

As you can see it's already blurry in the img tag. I'm not sure I understand everything correc

[2019-04-12 17:43] auchenberg commented on #89
Yes, that flow is correct. Browser Preview is "remote controlling" Chrome Headless and asking for a stream of images, which are streamed over the DevTools protocol, base64 Decoded via the <img> and then rendered on the <canvas>.

If Chrome already sends us a blurry image, then we can't do much :/ I'm wondering if there's some settings or tweaks we can make.

[2019-04-12 17:44] auchenberg commented on #89
What if you increase the quality to `100` in https://github.com/auchenberg/vscode-browser-preview/blob/master/src/App.tsx#L237 @warpdesign Does that changes things for you?

[2019-04-12 18:13] warpdesign commented on #89
Modifying quality doesn't seem to change anything (tried with jpeg only since I guess it's only used in jpeg). Tried setting it to 100, then lowering it to 0 and quality appears to be the same as with the default 80 setting: weird.

Maybe it's not fully implemented since [page.startScreencast](https://chromedevtools.github.io/devtools-protocol/tot/Page#method-startScreencast) is experimental?

[2019-04-12 18:15] warpdesign commented on #89
What's sure is that the higher the DPI, the less we see compression artifacts (like blurriness) so it's not surprising it less/not visible in high DPI.

[2019-04-12 22:58] auchenberg commented on #89
@warpdesign Can you try to pull master? I think this might be it for non-DPI monitors. https://github.com/auchenberg/vscode-browser-preview/commit/c8ee168848c9109cb8e36c19403ee676bac6f33b

[2019-04-13 07:28] warpdesign commented on #89
@auchenberg We're getting there: the image appears to be correct now, but it's when drawn onto the canvas that it gets blurry now.

I have an idea.

[2019-04-13 07:47] warpdesign commented on #89
Here is what I found:
 - removing `max-width:100%` and `max-height:100%`in the css applied to the image fixes the blurriness on the image
 - the image size is slightly larger (a few pixels only) than the canvas size (see screenshot): that explains why it gets blurry when drawn onto the canvas

[2019-04-15 12:44] eltoncezar commented on #68
Same issue here. Everything worked great till last week. But today I started getting this error. Can't make it work even after a second run.
I can confirm that there are no other Chrome instances running at the same time. I can also confirm that launching with Debugger for Chrome and the same configuration works just fine.

[code]

[2019-04-15 15:07] #71 closed

[2019-04-15 15:44] auchenberg opened #92 "Blurry rendering on non-retina"
From @warpdesign  Here is what I found out:
 - removing `max-width:100%` and `max-height:100%`in the css applied to the image fixes the blurriness on the image
 - the image size is slightly smaller (a few pixels only) than the canvas size (see screenshot): that explains why it gets blurry when drawn onto the canvas

![image](https://user-images.githubusercontent.com/199648/56076429-2d3c8600-5dd1-1

[2019-04-15 15:45] auchenberg commented on #92
Inspiration: https://cs.chromium.org/chromium/src/third_party/blink/renderer/devtools/front_end/screencast/ScreencastView.js?q=screencast&sq=package:chromium&dr=CSs&l=164

[2019-04-15 15:45] auchenberg commented on #89
@warpdesign Aha! Good investigation! I shall give it a spin. I've opened https://github.com/auchenberg/vscode-browser-preview/issues/92

[2019-04-15 19:45] kevinmarrec commented on #21
@auchenberg Have you any details about how it's related to my issue ? I tried to understand but I'm not sure what's goin on

[2019-04-15 20:02] auchenberg commented on #21
@kevinmarrec See https://github.com/auchenberg/vscode-browser-preview/issues/92

[2019-04-20 07:44] rbadapanda opened #96 "How to access & define key/value pairs for application's local storage"
My application reads some key/value from localstorage during start.

Is there a way I can provide that with this extension?
or,
can you please expose the developer tools instance of the browser that is embedded in VScode?

Anyway, thanks for the great tool!

[2019-04-22 15:40] putopavel commented on #68
Same happens to me, but it gives me another error:
![image](https://user-images.githubusercontent.com/9091619/56508657-26c2b280-6525-11e9-884a-95736c426c59.png)
This is my `launch.json` file:
[code]
BTW I use this for debugging an Ionic4 App and I'm running High Sierra.

[2019-04-23 11:14] yoyoys commented on #68
I'm using OSX Mojave, same problem here with vuejs(cli3)

[2019-04-28 02:39] #68 closed

[2019-04-29 11:32] eltoncezar commented on #68
@auchenberg when this fix will be available at the marketplace OR how can I test it today? can you provide some info? I'm not familiar with building vs-code extensions. Thanks in advance.

[2019-04-29 15:08] auchenberg commented on #68
@eltoncezar I've pushed https://github.com/auchenberg/vscode-browser-preview/releases/tag/v0.5.4 which contains the fix

[2019-04-29 19:23] eltoncezar commented on #68
many many many thanks! it's working again!

[2019-04-29 20:20] auchenberg commented on #68
Yay, glad to hear @eltoncezar

[2019-04-30 08:44] jccit commented on #34
I think it would be a great idea to have a setting that ignores HTTPS errors. I deal with self signed certs a lot in local dev, this would be a great time saver over clicking through error messages

[2019-05-02 04:39] usama-asfar opened #100 "Browser is blur :-("
Hello, I love this extension and very useful but the browser preview is blur
Can I able to fix this issue?
![Capture](https://user-images.githubusercontent.com/42825498/57056794-59f20800-6cc2-11e9-8697-a8fa9496b28a.PNG)

[2019-05-02 04:57] auchenberg commented on #100
Potential dup of https://github.com/auchenberg/vscode-browser-preview/issues/92

[2019-05-05 18:19] auchenberg opened #101 "Enable copy from browser preview to clipboard"
See https://www.youtube.com/watch?v=3Ne9-9n5Oq0&list=PL0zVEGEvSaeEh5lzJx9f5B7RVs1FrHgNf

[2019-05-06 01:57] auchenberg commented on #101
Might be blocked on https://github.com/GoogleChrome/puppeteer/issues/3252

[2019-05-07 21:45] #100 closed

[2019-05-14 11:10] ioslide opened #102 "it is slow"
I have no problems with my hardware and network, but the webpage after opening is very slow

[2019-05-24 20:40] auchenberg commented on #102
Dup of https://github.com/auchenberg/vscode-browser-preview/issues/21

[2019-05-24 20:40] #102 closed

[2019-05-24 20:49] auchenberg commented on #55
@yozlet First version has been released. Handling of scaled viewports still needs to get there.

[2019-05-24 20:49] #55 closed

[2019-05-25 17:56] auchenberg opened #104 "Element highlighting doesn't work for scaled viewports"
Element highlighting doesn't work for scaled viewports.

Steps:
- Emulate iPhone X.
- Try to highlight element

[2019-05-25 19:15] auchenberg commented on #76
Dup of #58

[2019-05-25 19:15] #76 closed

[2019-05-25 19:17] auchenberg commented on #96
You can use Chrome Devtools from a separate Chrome instance by going to `chrome://inspect` and setup network discovery on `localhost:9222`. That way you can use Chrome DevTools to inspect

[2019-05-25 19:17] #96 closed

[2019-05-25 19:18] auchenberg commented on #66
Closing due to inactivity.

[2019-05-25 19:18] #66 closed

[2019-05-26 00:30] #67 closed

[2019-05-31 18:25] ibdf opened #106 "Can't adjust zoom of preview without adjusting font size"
VS Code Version: Version 1.34.0 (1.34.0)

Steps to reproduce:

1. Open browser preview
2. press Command plus "-" or "+" on a mac

This command typically let's you control the browser zoom. In VS Code this command also controls the Font Size. So I can't control one without controlling the other. It also seems like the browser preview is matching the font size, which is an issue because I use a larg

[2019-05-31 18:34] auchenberg commented on #106
Webviews / browser preview in VS Code follows the overall workbench zooming in VS Code, and this is done by VS Code, so out of this extensions control.

But we can probably add individual zooming to Browser Preview itself.

[2019-06-04 23:23] 3rock618 opened #107 "Feature Request: Downloads"
I would like to use this extension for a simple http fileserver client. However, downloads are not supported. Would it be possible to add this functionality?

To recreate my use case:
- in terminal run `python3 -m http.server` (runs a local http fileserver from whatever folder location you are in)
- in browser-preview navigate to `http://localhost:8000/`
- click on file to download (doesn't work)

[2019-06-05 04:41] auchenberg commented on #107
Seems to be possible to implement via https://github.com/GoogleChrome/puppeteer/issues/299

Proposal for experience:
- Users clicks a link that triggers a download
- Downloads to default download path
- Triggers notification within VS Code
- Updates notification with progress
- Once downloaded notification updates with link to to downloaded file, made sticky.

[2019-06-05 12:47] pungggi commented on #96
would be nice to be able to launch inspect on that target with a flag it that is possible.

[2019-06-07 07:50] jkanchelov opened #109 "Feature request: Add rotate option when device mode is toggled"
Currently, if you select the toggle device mode ( or whatever its name is ) there is only option for landscape mode. It would be good to include the rotate option. It should fire the "onrotationchange" event too.

[2019-06-11 10:45] shasank opened #111 "Dropdowns are not clickable"
Dropdowns inside the webpage are not clickable!

[2019-06-11 10:58] auchenberg commented on #111
@shasank Do you have an example page that can help repro?

[2019-06-11 12:59] shasank commented on #111
Just load the above url in Browser Preview and try to click on the dropdown. https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_select

[2019-06-21 16:30] RyanEwen commented on #75
This still seems to be an issue. Windows 10, 100% scaling, nothing special going on.

[2019-06-24 19:11] cosminalco opened #113 "Dark theme"
I switched to dark theme in Windows 10. Google Chrome displays with the dark theme, Google Chrome Debugger also displays with the dark theme. Will it be possible also for Browser Preview to have a dark theme?

In the screenshot bellow it can be seen that the address bar is a little to aggressive with the white color. Also when refreshing the background is white for a moment. A setting somewhere, I

[2019-06-24 20:26] auchenberg commented on #113
Great idea. Should be easy to land some CSS tweaks in https://github.com/auchenberg/vscode-browser-preview/blob/master/src/components/toolbar/toolbar.css

[2019-06-24 21:18] cosminalco commented on #113
Thinking about it, probably a better idea would be to inherit the colors from the current VS Code theme .

Looks like these three are the best candidates to import the colors from: `input.background` , `input.foreground`, `input.border`

Then something like this will also update the Browser Preview colors:
[code]

[2019-06-24 21:30] auchenberg commented on #113
VS Code colors are available as CSS variables, so this should be quite easy to add. https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content

[2019-06-24 22:15] cosminalco commented on #113
It looks like this four will do the job: `input.background` , `input.foreground`, `input.border`, `panel.background`

![Annotation 2019-06-25 011100](https://user-images.githubusercontent.com/42435633/60055497-7d479b00-96e6-11e9-92f2-2774a4c23a57.png)

[2019-06-25 13:22] cosminalco commented on #113
That much I could do:
![Annotation 2019-06-25 160159](https://user-images.githubusercontent.com/42435633/60100599-b9204600-9762-11e9-966a-85451ff07f89.png)
I played around in build/static/css/main....css. I could't change the white background and the buttons color

[code]

I know there are also some hovers, active, context menu, responsive panel I didn't touch.

[2019-07-02 18:48] shanehsu opened #114 "preLaunchTask isn't respected"
My configuration requires me to use `ng serve` from Angular CLI to start a Webpack-based dev server.

The same configuration should work with both `chrome` and `browser-preview`, however preLaunchTask is not started when using `browser-preview`.

[code]

[2019-07-05 04:23] auchenberg commented on #114
Should be covered by this PR under review, https://github.com/auchenberg/vscode-browser-preview/pull/103

[2019-07-05 04:27] shanehsu commented on #114
Didn’t search PR, sorry about that. Hope it went through fast!

[2019-07-06 15:55] pitops opened #115 "Inspect element does not open file"
I have tried this in my react app but selecting an element does not do anything. Its a custom boilerplate - is that the issue or is something I have to setup first?

I find this feature pretty neat!

[2019-07-24 21:19] spiral6 commented on #17
Having issues with my Google Chrome installation (it's a portable install)
![image](https://user-images.githubusercontent.com/2887489/61829504-ab77e200-ae2e-11e9-84b1-355d4f22bef8.png)

The preview looks like this.
![image](https://user-images.githubusercontent.com/2887489/61829528-baf72b00-ae2e-11e9-9993-22e2a57f5650.png)

Cannot discern what the issue is.

[2019-08-15 21:24] mjbvz opened #116 "Feedback on vscode's Webview.toWebviewResource API proposal"
## Overview
VS Code 1.37 added a proposed api to help webviews create uris for local resources: https://github.com/microsoft/vscode/blob/192e15b613dd4f4dab9c735b7556e175580c6011/src/vs/vscode.proposed.d.ts#L1166

The main addition is a `toWebviewResource` method property on webviews that translates a local file uri into a webview uri (i.e. one that uses the special `vscode-resource:` scheme). This

[2019-08-19 20:38] nickmccurdy commented on #21
Why not use a webview instead of headless Chrome?

[2019-08-20 23:25] auchenberg commented on #21
@nickmccurdy VS Code don't allow low-level access to the Electron WebView, and is filtering web content that is hosted in the webview for XSS, etc. Essentially trying to avoid turning VS Code into a Web Browser.

[2019-08-22 22:53] h1nk opened #118 "Support for Code Server/Visual Studio Online"
I wanted to see if this extension would work in [code-server](https://github.com/cdr/code-server) just for fun, but sadly it does not:

![image](https://user-images.githubusercontent.com/12993584/63554956-ab9ef680-c52e-11e9-9a31-a27864ee2bc9.png)

I'm going to assume that this is well outside the realm of supported use cases, but I still wanted to ask if there is any way to get this to work.

[2019-08-25 05:52] auchenberg-stripe commented on #118
If you open up DevTools and look at the console, do you see anything? Or what about in the output panels, @h1nk ?

[2019-09-21 00:50] trigun539 commented on #118
Yeah, this would be great if it could work with code server.

[2019-09-25 12:58] shasank opened #119 "Double click event doesn’t work"
Sample: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_ev_ondblclick
Nothing happens when we double click on the button. The same works properly in a regular browser.

[2019-09-27 17:01] auchenberg commented on #119
Ah good catch! Should be fairly easy to implement via https://github.com/auchenberg/vscode-browser-preview/blob/master/src/components/screencast/screencast.tsx#L388

[2019-09-27 19:58] h1nk commented on #118
Chromium wasn't even installed in the Docker container I was running. It does _work_ once installed, but entering anything into the address bar didn't seem to work and there was a bunch of other usability problems.

[2019-10-09 11:45] yoyoys commented on #58
Any news? It's really annoying

[2019-10-11 04:09] xahon opened #120 "How to show browser's console?"

[2019-10-11 17:07] auchenberg commented on #120
If you attach VS Code's debugger, you can use the built-in Console in VS Code, which should show you the messages.

[2019-10-11 17:07] #120 closed

[2019-10-29 21:42] abelmark commented on #113
Can I claim this?

[2019-10-30 02:58] cosminalco commented on #113
I'm not sure what claiming means, but from my part sure.

[2019-11-07 06:39] JoelEinbinder opened #122 "Long term maintainability"
I was poking around the code today to figure out how this project works. There is a very good chance that I am missing some key info or just wrong, but [the best way to get answers is to first be wrong](https://meta.wikimedia.org/wiki/Cunningham%27s_Law) 😊.

### Experimental CDP methods are being used being used
The best solution would be to not use experimental protocol. Stick to the stable metho

[2019-11-13 00:51] auchenberg commented on #118
Given that Microsoft now have shipped http://online.visualstudio.com/, I'm renaming this issue to support of VS Online.

[2019-11-13 00:52] auchenberg commented on #115
@pitops Do you have an example app you can share? This is most likely caused by your webpack configuration.

[2019-11-13 01:01] auchenberg opened #123 "Migrate to new Chrome launcher"
Observations from https://github.com/auchenberg/vscode-browser-preview/issues/122

**Observations**
Puppeteer only supports the version of chromium that it is bundled with. That means when we pick a version of chrome off of the users system, there is no guarantee that puppeteer can control it properly. This project only seems to use puppeteer to launch the browser and obtain a CDP connection. That

[2019-11-13 01:02] auchenberg opened #124 "Implement testing baseline"
There is a test but it doesn't look to be in use. I can't quite figure out what it does.

I want to have at least 3 sanity tests.

One that tests that the extension can be launched from vscode. I have no idea how to do this.
One that drives the current stable chrome and current chrome canary and verifies we can get a screencast and inspect a node.
One that tests that the UI shows up.

[2019-11-13 01:03] auchenberg commented on #122
Thanks for doing this @JoelEinbinder!

I agree that this project is highly dependent on experimental APIs from CDP, and its a big risk factor for the continuation of the project. The key challenge I see is the usage of the experimental screencasting APIs which isn't exposed by Puppeteer, but have to be consumed in the "raw" CDP form.

I've opened https://github.com/auchenberg/vscode-browser-previe

[2019-11-13 03:52] lostintangent commented on #118
It would be amazing if we could add VSO support! 🤗 Is there anything our team (the VSO team) could do to help?

[2019-11-13 04:49] auchenberg commented on #118
@lostintangent A model I explored in the early days was to run the Chrome instance on the remote instance to allow for example and IPad show chrome content rendered from the Linux box. Today the extension is marked as a UI extension, so it would require an API to declare the extension to remote based on what context the it's run in. Have you landed such apis?

[2019-11-14 13:26] borekb commented on #21
The extension should open the Preview only when the macbook is being charged 😄. It's _very_ CPU & GPU intensive which I didn't realize and my battery went empty very quickly.

[2019-11-29 14:42] egamma opened #125 "Adopt the new extensionKind format"
As of VS Code 1.40 the `extensionKind` attribute in the `package.json` of the extension can be an array, pls see the [documentation](https://code.visualstudio.com/api/advanced-topics/remote-extensions#incorrect-execution-location).

We will be deprecating the `string` type for `extensionKind` property in favour of `string array` type.

The `extensionKind` attribute for the preview extension should

[2019-12-01 02:34] #125 closed

[2019-12-01 02:34] auchenberg commented on #125
Thanks for the heads up @egamma. Updated.

[2019-12-01 02:35] auchenberg commented on #118
Extension adopted to run as a workspace extension in VSC's case. Ping @lostintangent  https://github.com/auchenberg/vscode-browser-preview/issues/125

[2019-12-01 03:29] lostintangent commented on #118
@auchenberg I just tested the bits in master, and it works in a VSO environment, including in the browser! The Live Share integration also works, which is pretty sick to see in the browser. Can you ship this update? 😎

[2019-12-02 22:30] auchenberg commented on #118
Landed in v0.6.0

[2019-12-02 22:30] #118 closed

[2019-12-06 02:06] Power-tile opened #127 "Resolution too low: plz enhance resolution"
Issue Type: <b>Performance Issue</b>

Any webpage I open fails to render clearly. Plz fix this. An example is shown below.
![图片](https://user-images.githubusercontent.com/44731563/70289550-0cb5b600-1810-11ea-9a27-ae6df15a975e.png)

Extension version: 0.5.9
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.18362

<detai

[2019-12-13 23:22] natebass commented on #127
@Power-tile Possibly related to https://github.com/auchenberg/vscode-browser-preview/issues/92 and https://github.com/auchenberg/vscode-browser-preview/issues/21?

[2019-12-14 21:55] 4th3LuLz0fIt opened #128 ""Failed to launch chrome! spawn""
I'm using the latest version of vs code and chrome dev as well. Whenever I try to view HTML code via browser preview I get the error below.  Any resolutions?

C:\Users\name\AppData\Local\Google\Chrome Dev\Application\chrome.exe" ENOENT

[2019-12-16 21:37] auchenberg commented on #128
What path do you have Google Chrome installed at?

[2019-12-30 04:24] 4th3LuLz0fIt commented on #128
Chrome would install its self to the user appdata folder in windows 10. I changed the path in browser view settings to that path but still had the same issues. I've figured the error is a permissions issue since appdata is a protected folder within the users folder.

I resolved the issue by using my mac pro to develop in. I've had no issues since then, thanks!

[2019-12-30 04:24] #128 closed

[2020-01-02 23:40] kevinbarabash commented on #68
I'm seeing this in 0.5.9.  I can work around it it by opening Browser Preview manually and then running the launch command.  This results in two windows so I close the one I opened manually.  Here's the launch config I'm using:
[code]

[2020-01-03 00:07] mu-offline opened #129 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-browser-preview`
- Extension Version: `0.5.9`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-01-03 17:28] crystal-wb commented on #111
I have the same issue. I have zero time and I wanted to view the edits I was making to a page, but this extension doesn't seem helpful. I can't even use inspector to view the html generated on the page. What is the point of it?

[2020-01-14 22:42] #129 closed

[2020-01-16 15:51] zubenelakrab opened #130 "Support for Browser Preview extension"
I can't find it on Marketplace
https://marketplace.visualstudio.com/items?itemName=auchenberg.vscode-browser-preview

[2020-01-16 21:44] auchenberg commented on #130
What do you mean @zubenelakrab this extension is published on that link?

[2020-01-17 08:49] zubenelakrab commented on #130
nvm delete this.

[2020-01-17 08:49] #130 closed

[2020-01-23 10:36] nonameolsson commented on #75
I still experience this problem, on MacOS 10.14.6.

[2020-02-27 12:52] laoczvip opened #131 "Blank page"
![1582807549(1)](https://user-images.githubusercontent.com/51748911/75446323-27787080-59a2-11ea-9b81-056f3fcaf7d2.jpg)
It's newly installed, but it's a blank page when it's opened
But he made such a mistake

![1582807874(1)](https://user-images.githubusercontent.com/51748911/75446810-1714c580-59a3-11ea-8949-91082e1f3980.jpg)

[2020-02-28 23:32] auchenberg commented on #131
Do you have Google Chrome installed in the path mentioned in the notification?

[2020-02-29 02:30] laoczvip commented on #131
It has been resolved, I have previously installed a pirated version of Google Chrome, and now I can install a genuine one.

[2020-03-01 20:51] #131 closed

[2020-03-02 14:13] melMass commented on #92
Any news regarding that issue ?

[2020-03-02 21:37] auchenberg commented on #92
@melMass I don't have much time to work on this project these days. If you have time to contribute it would be much appreciated.

[2020-03-15 21:06] auchenberg commented on #127
Closing as dup of https://github.com/auchenberg/vscode-browser-preview/issues/92

@Power-tile Can you confirm you are on a non-retina monitor?

[2020-03-15 21:06] #127 closed

[2020-03-17 15:50] obikay200 commented on #118
hey i came accross this and think its awsome, have you got the setup steps to get this woking in code server? ive tried installing chrome but its not working...

any help would be much appreciated

[2020-03-17 21:15] auchenberg commented on #118
@obikay200 What errors do you see?

[2020-03-18 07:29] AbhishekTaparia opened #132 "input file button not working"
running a flask application on vscode and using vscode-browser-preview but <input type='file'> button is not working

[2020-03-18 08:43] obikay200 commented on #118
Thanks very much for the quick response, but i updated to the latest release of code-server ( 3.0.1 ) rather than latest and set permissions on the chrome binary and now it works!

[2020-03-18 19:22] auchenberg commented on #118
Glad to hear!

[2020-03-20 02:57] auchenberg commented on #58
Seem to be resolved in VSC 1.42.1

[2020-03-20 02:57] #58 closed

[2020-03-20 02:57] auchenberg commented on #115
Closing due to in activity.

[2020-03-20 02:57] #115 closed

[2020-03-25 15:02] GuillaumeDesforges commented on #75
Same issue here

[2020-03-25 15:58] sh7dm commented on #75
It's solved by using PNG format, but I think JPEG should have better quality.

[2020-03-25 17:21] GuillaumeDesforges commented on #75
Set to PNG as well, no improvement...

[2020-03-25 21:10] auchenberg commented on #75
To aggregate the feedback:
1. This seems to happen on non-retina monitors on MacOS
1. This seems to happen on Windows regardless of DPI.

Theories:
- This is either a problem in with browser preview sending the wrong resolution request to Chrome, or a problem within Chromium that's causing the wrong resolution to be returned.

More debugging is needed, and I sadly don't have the time these days :/

[2020-03-26 13:40] warpdesign commented on #92
I'll try to find some time to look at this issue.

[2020-03-26 21:12] pbmacsodak opened #133 "Just a quick question..."
Running Ubuntu Linux 18.04 - when I open up the preview and go to localhost:3000 - do you know what directory it is pointing to? I am trying to figure out how to get to my test files, but can't quite seem to figure out where I am pointing to by default.

I find similar behavior on Mac OS

It works fine in Windows :(

Thanks
Pat McClanahan

[2020-03-27 11:19] GuillaumeDesforges commented on #75
Switched to 100% rendering (on Windows) instead of 150%. It fixed the issue.
But I have a 4k screen so 100% is too small, I'll keep it blurry for now...

[2020-03-28 03:26] TheCedarPrince commented on #113
I got almost everything working except for the viewport is not inheriting my dark color. Any thoughts on what I could do here?

[2020-03-28 04:31] auchenberg commented on #133
Browser Preview doesn't serve local files or start a local http server for you. You have to do this yourself. Like https://www.npmjs.com/package/http-server or https://www.hackerearth.com/practice/notes/simple-http-server-in-python/

[2020-03-28 04:31] #133 closed

[2020-03-31 17:50] AbhishekTaparia opened #134 "browser preview only support SSL certified websites"
Just this question. Does it only support SSL certified websites?

[2020-03-31 18:04] auchenberg commented on #134
Browser Preview should work with non-https sites. Just like http://neverssl.com

[2020-03-31 18:04] #134 closed

[2020-04-01 07:41] AbhishekTaparia commented on #134
Yeah this is working but supposedly if I type https://neverssl.com then it does not show for the advance setting option as we normally get in Chrome.

[2020-04-22 05:31] blizzardengle opened #135 "Embed/enable DevTools inside preview"
I know this has been asked before #120 but is there anyway to support opening dev tools (and the console) in the browser preview?

Attaching to VS Codes debugger works to get console messages out, and I can run all the typical commands like `window.location.reload()`, but I really need the dev tools for classes I'm teaching online this semester.

[2020-04-22 18:22] auchenberg commented on #135
There's not built-in option. You might be able to use `chrome://inspect` from another Chrome instance.

[2020-04-22 18:54] blizzardengle commented on #135
The reason I was hoping to get the actual dev tools in your extension is so I don't have to constantly switch windows. Screen share works best if I limit it to just a window (VS Code) verses sharing my whole screen.

It's a first world problem I know; I am toying with the idea of making my own watered down version in JavaScript and then running that on the page I'm demoing. I'll leave this issue o

[2020-04-22 21:51] auchenberg commented on #135
Thanks for the feedback, and yes I think it would make sense to be able to pop up the DevTools, but it would require quite some work to make happen.

So let me rename this issue and keep it open. Maybe someone would have time to help with this?

[2020-04-23 05:41] zhusjfaker opened #136 "Debugging the website that needs to be verified cannot enter Chinese"
I can't switch input method and input account with Chinese in headless browser

[2020-04-27 20:58] bou2you commented on #134
Right. I found if I try to use the Browser Preview VS Code extension with a self-signed SSL certificate against a local domain I only get a blank screen.

[2020-04-29 12:24] Ipponz opened #137 "Browser preview not showing web page"
When selecting the browser preview I only get the visual studio page. The page I am working on does not display.

[2020-05-01 19:12] mochanekodev commented on #137
I just installed this on vscode and can't get my preview to load either. It seems to be changing the file path to something that obviously can't be opened. ie:

file path: C:\Users\UserName\Desktop\index.html
plugin changed path: http://c/Users/UserName/Desktop/index.html

[2020-05-04 16:59] mochanekodev commented on #137
@Ipponz  I just realized what to do. Instead of running "Open Preview" or "Show Browser Preview," you have to specifically "Open Active File in Preview." Mine works now.

[2020-05-07 22:59] blizzardengle commented on #135
Okay I'm a little burned out but I created a clone of the features I needed from Chromium's developer tools. You should now be able to inject the [web-dev-tool.min.js](https://github.com/caboodle-tech/web-dev-tool/blob/master/web-dev-tool.min.js) script into any web page and have a working developer tool. The tool can be opened with key presses `F12` or `Ctrl + Shift + I` and by direct call to `We

[2020-05-08 08:46] WayneEllery commented on #137
@mochanekodev `Open preview` command works for me too
<img width="601" alt="Screen Shot 2020-05-08 at 6 45 38 pm" src="https://user-images.githubusercontent.com/1885695/81388790-26ab4a00-915c-11ea-8e0c-333aae171499.png">

[2020-05-16 02:45] mjbvz opened #138 "Adopt VS Code's 'asWebviewUri' API"
Hi, I maintain VS Code's Webview API

## Issue
Our telemetry suggests that your extension uses webviews and may be loading resources in these webviews using hardcoded `vscode-resource:` URIs. These URIs have some important limitations and don't work properly when VS Code is run in a browser. We are also making changes in the desktop version of VS Code that may cause these URIs to not work properly

[2020-05-22 01:57] bilogic commented on #113
what about the page contents? I use Dark Reader Chrome extension, possible to load it in the headless chrome?

[2020-05-26 06:20] secreter commented on #136
me too,and also can't use copy /paste

[2020-05-26 20:39] mihael-stormrage commented on #75
Same problem, Windows 10, FHD.

@GuillaumeDesforges How do I switch it?

[2020-05-26 21:04] GuillaumeDesforges commented on #75
You can switch it in the same menu where you change the resolution

On Windows 10 right click on desktop, click on "display parameters" (I am guessing the name from my French menu).

[2020-05-26 22:18] mihael-stormrage commented on #75
@GuillaumeDesforges 100% already :(

[2020-05-26 22:54] GuillaumeDesforges commented on #75
Not surprising as you are in FHD ; 150% zoom by default is for higher resolutions

[2020-06-21 16:37] #136 closed

[2020-06-24 12:25] Rednas83 commented on #75
Tried setting scale in windows 10 to 100%, but that's not working for me.
![image](https://user-images.githubusercontent.com/25219229/85554370-1de7d800-b625-11ea-8fae-733a63fff904.png)
![image](https://user-images.githubusercontent.com/25219229/85554446-335d0200-b625-11ea-9117-c05c9cf5c501.png)
It's okay when working on content, but not ideal when working on style. I guess we al have to buy apple

[2020-06-26 15:25] leontepe opened #139 "Performance way worse than normal Chrome"
I am running a [basic WebGL example ](https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial/Animating_objects_with_WebGL) and the performance and in the Browser Preview is _really slow_ compared to the performance in standalone Chrome. Is this issue known?

[2020-06-26 17:57] auchenberg commented on #139
Browser Preview is using Chrome' screencasting API, so performance depend on the perf of that API. For now this is the only way to embed a Chrome instance inside VS Code, so that's what we work with.

So yes, it's sadly a known issue. See https://github.com/auchenberg/vscode-browser-preview/issues/21

[2020-06-26 17:57] #139 closed

[2020-07-01 22:59] jockrow opened #140 "Enable Sound"
Can enable the sound, to example to use for google meeting or youtube?

[2020-07-02 20:31] auchenberg commented on #140
I don't think this is supported via the current APIs we have available. Sadly. But let's keep it open.

[2020-07-05 10:28] herobank110 opened #141 "Only opens second time"
The extension fails to show any webpage when opening it the once but opening a second browser preview tab works. After closing both tabs, again you must open a first tab and then a second tab to view a webpage. This is currently the only way I am able to use the extension.

[2020-07-07 18:42] ntindle commented on #140
Would these two links help?
https://github.com/mattogodoy/hacker-sounds
https://github.com/wix-incubator/codio/blob/a8b0eb216fa4f6310494b8616d70a1dea507c59c/vscode/src/audio/Audio.ts#L39

[2020-07-08 03:14] auchenberg commented on #140
@ntindle Sadly not. We need a API over the Chrome DevTools Protocol that can gives us audio, which we then need to play inside VS Code.

[2020-07-08 03:28] ntindle commented on #140
Looks like it would need to be filed here https://bugs.chromium.org/p/chromium/issues/list?q=component%3Aplatform%3EDevTools%3EPlatform&can=1&start=0

[2020-07-10 16:56] jockrow commented on #140
Ok, I understand that don't is direct problem for you. Thank you for your attention

[2020-07-12 20:49] auchenberg commented on #140
Let's keep this open as an upstream issue. We should aim for this, but need a Chromium API.

[2020-07-12 20:58] ntindle commented on #140
@auchenberg did you open an issue upstream or shall I?

[2020-07-12 21:24] jamilraichouni commented on #101
Would be really cool, thanks for the extension so far!
I currently use it, to open text coverage reports within Code.

[2020-07-13 20:36] auchenberg commented on #140
@ntindle If you have time it would be great!

[2020-07-20 23:37] ntindle commented on #140
Last question on if this would help https://github.com/google/audion before I file it. I was browsing and found this from google

[2020-07-31 20:06] OliverKovacs opened #142 "Feature: Option to enable self-signed SSL certificates"
### Problem
The browser blocks unsafe connections. This is fine as default behaviour but really inconvenient when you are trying to debug a website that uses self-signed SSL certificates because it doesn't give you the option to do it anyway as most normal browsers do. ([you can try it with this link](https://self-signed.badssl.com/))
### Fix
After some research I found out that this can be fixed

[2020-08-07 01:07] ggoodman commented on #106
Circling back because this would be fantastic!

[2020-08-17 04:47] Coda-Coda commented on #101
This would be really cool! Great extension though 😃

[2020-08-28 18:05] artifactdev commented on #111
Will this bug get fixed? As the extension isn't really usable if the site requests some things in selected within a select element.

[2020-08-29 04:26] auchenberg commented on #111
@artifactdev These days I don't have time to work on this extension. If time allows I'd appreciate your contributions.

[2020-08-30 12:39] Duv4lC4ruso opened #143 "Improve this with some unique ID per browser window instead of url, to avoid closing multiple instances"
https://github.com/auchenberg/vscode-browser-preview/blob/50356bbcb07e07bca4d5aa331a795c4806ac3f78/ext-src/debugProvider.ts#L16-L16

[2020-08-30 12:40] Duv4lC4ruso opened #144 "use XPath","

[2020-08-30 12:54] Duv4lC4ruso opened #145 "We should not use getComputedStyle(). For that we need to get rid of using ::before for disclosure triangle. (http://webk.it/74446)"

[2020-08-30 12:54] Duv4lC4ruso opened #146 "We should not use getComputedStyle(). For that we need to get rid of using ::before for disclosure triangle. (http://webk.it/74446)"

[2020-08-30 13:17] Duv4lC4ruso opened #147 "- Can you have imaginary longs?"

[2020-08-30 13:17] Duv4lC4ruso opened #148 "- Can you have imaginary longs?"

[2020-08-30 13:29] Duv4lC4ruso opened #149 "media icon */"

[2020-08-30 13:29] Duv4lC4ruso opened #150 "media icon */"

[2020-08-30 13:30] Duv4lC4ruso opened #151 "fix this."

[2020-08-30 13:31] Duv4lC4ruso opened #152 "This performance optimization should be moved to blink so that all developers could enjoy it."

[2020-08-30 13:46] Duv4lC4ruso opened #153 "Move out to increase performance"
https://github.com/auchenberg/vscode-browser-preview/blob/8714f79306062ded83039979f16cb8752fb7632e/src/components/screencast/screencast.tsx#L120-L120

[2020-08-30 16:20] Duv4lC4ruso opened #154 "remove everything below."

[2020-08-30 16:23] Duv4lC4ruso opened #155 "Check this before next front-end update."

[2020-08-30 16:28] Duv4lC4ruso opened #156 "Remove hardcoded toolbar height"
https://github.com/auchenberg/vscode-browser-preview/blob/50641298bc3e6d86ef8fb7fb91ca4924a4160bff/src/components/viewport/viewport.tsx#L136-L136

[2020-08-30 16:29] Duv4lC4ruso opened #157 "Scroll the page"
https://github.com/auchenberg/vscode-browser-preview/blob/000b342c394bb189c29ebe3cc67eab81b033ac2d/src/App.tsx#L197-L197

[2020-08-30 16:29] Duv4lC4ruso opened #158 "No sure this works."
https://github.com/auchenberg/vscode-browser-preview/blob/000b342c394bb189c29ebe3cc67eab81b033ac2d/src/App.tsx#L508-L508

[2020-08-30 16:36] Duv4lC4ruso opened #159 "Add a createCallback which is different from editCallback and has different"

[2020-08-30 16:40] Duv4lC4ruso opened #160 "reverse SplitView.isVertical meaning."

[2020-09-02 16:41] CasP0 opened #161 "Extension issue"
#- Issue Type: `Bug`
- Extension Name: `vscode-browser-preview`
- Extension Version: `0.6.7`
- OS Version: `Windows_NT x64 10.0.14393`
- VSCode version: `1.49.0-insider`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-02 16:42] CasP0 commented on #161
https://github.com/auchenberg/vscode-browser-preview/issues/161#issue-691183022

[2020-09-12 10:28] SimonDever opened #162 "Feature: Ability to reopen previously open browser tabs upon vscode startup"
Similar to how the files previously opened in the editor are reopened upon starting VS Code, I think it would be valuable to many to have the ability to restore the open tabs that were there when VS Code was last shutdown.

[2020-09-16 03:10] texastoland commented on #86
I don't know if it helps, but I looked into this a little. `which-chrome` appears to be deprecated by `chrome-paths`. Both are wrappers around `karma-chrome-launcher`. There appears to be a new unofficial [`karma-chromium-edge-launcher`](https://yarnpkg.com/package/@chiragrupani/karma-chromium-edge-launcher). Perhaps you could get it by calling each directly?

[2020-09-16 15:58] WSLUser commented on #86
I'm wondering if this project really gets any maintenance at all. The last PR is from 2019 while the last commit is simply dropping a dependency in July.  It may need forking to actually address all the issues this repo has, starting with this one (the ability to launch any chromium browser, not just Chrome, would be a great feature to start with in a new fork).

[2020-09-17 19:28] auchenberg commented on #86
@WSLUser Want to become a maintainer of the project? I'd love some more hands helping out.

[2020-09-17 19:46] texastoland commented on #86
PS the Mac equivalent is:

[code]

[2020-09-17 20:20] WSLUser commented on #86
I myself can't but I do hope others will step up. I think you creating this project is great and just needs some refinement. Life gets in the way and that's understandable. Maybe if you do have code just sitting around you mess with can exist in another branch so others can help add to it to bring to fruition whatever you started work on but never finished.

[2020-09-17 20:27] texastoland commented on #135
This works out of the box for Edge Chromium with the [official extension](https://marketplace.visualstudio.com/items?itemName=ms-edgedevtools.vscode-edge-devtools). I assume Chrome integration could be implemented separately as well. Can this issue be closed?

[2020-09-17 20:50] blizzardengle commented on #135
@texastoland I would say no. My students use Mac and Linux in addition to Windows computers. This only works natively on a Windows computer.

[2020-09-17 20:59] texastoland commented on #135
@blizzardengle I'm personally on Mac. The devtools are the exact same as Chrome. I just mean that this makes more sense as a separate extension as opposed to a feature.

[2020-09-19 06:20] santiagofn opened #163 "Multiple browser previews open endlessly after installing the extension"
- **OS**: Ubuntu 20.04
- **VSCode** v1.49.1 (snap package)
- **Browser Preview** v0.6.7

After installing the extension multiple groups of browser previews started opening (and they didn't stop doing it):
<img src="https://user-images.githubusercontent.com/8375708/93660568-b88a6400-fa26-11ea-9727-5b17c3358786.png" width="800">

I was forced to uninstall the extension and manually closed all the op

[2020-09-25 07:35] heicks opened #164 "I use the portable version of chrome, it will not be opened using the system default browser, but will use the fixed path link of the chrome installation version,"
![image](https://user-images.githubusercontent.com/12287943/94239186-0120b080-ff44-11ea-9825-f1fa450608ca.png)

this is my chrome path
![image](https://user-images.githubusercontent.com/12287943/94239309-2f9e8b80-ff44-11ea-931c-11ff8f84cb3d.png)

tools by https://github.com/cnjackchen/my-chrome
------

more plug-in fixed chrome path.. not work has any more plugin in this path issus

[2020-09-25 18:41] auchenberg commented on #164
You can use the `browser-preview.chromeExecutable` setting to set your custom path. Documented in the readme.

[2020-09-25 18:41] #164 closed

[2020-10-08 23:21] blizzardengle commented on #135
As @texastoland noted this works on Mac and Windows using Edge. I'm not a fan of having to use Edge and Linux support still missing but it works for the majority of my students so I'm closing this.

[2020-10-08 23:21] #135 closed

[2020-10-11 19:38] COD3BREAK3R opened #165 "Don't refresh page automatically"
When I press Ctrl+S don't auto refresh the view.

[2020-10-13 09:55] Liang-xujiu commented on #165
yes,you can only click the fresh button

[2020-10-13 09:57] Liang-xujiu commented on #165
yes,you can only click the refresh button

[2020-10-28 12:34] nshiell commented on #142
I also have this issue

[2020-10-30 23:41] divinebovine commented on #114
@auchenberg That PR has been closed, preLaunchTask and postLaunchTasks are both not respected.

[2020-11-09 18:33] santiagowprr opened #166 "How to enable console log?"
Hi!
I'd like to be able to see the output of the console while using browser preview. Is that possible?

[2020-11-30 04:13] touchft commented on #75
same problem here:
Ubuntu 20.04
Display Resolution: 2560X1440, or  no matter other values
Scale: 100%, or no matter other values
vscode: 1.51.1
brower-preview: 0.6.7
![Screenshot from 2020-11-30 12-05-07](https://user-images.githubusercontent.com/12428354/100568167-6490db00-3305-11eb-8d16-105154be3989.png)

[2020-12-02 19:58] marc-guenther opened #167 "automatically refresh the preview on file save"
It would be very cool if the preview could refresh itself automatically every time I save the file.

At the moment, there are no real quick workarounds that I have found:
- I can manually click the refresh button. Slow, needs the mouse, It seems there is no keyboard shortcut for this.
- I could map the "Open active file in Preview" to some key combination, but it opens a new preview every time, an

[2020-12-03 02:46] yume-chan commented on #166
https://github.com/auchenberg/vscode-browser-preview#launch-and-debugging

With the Debugger for Chrome extension you can see console output in the Debug Console view.

[2020-12-08 13:18] GuillaumeBlin opened #168 "Using vscode-browser-preview to retrieve cookies"
Hi,
In an extension i'm designing, I need to connect to a service via a web page and retrieve the corresponding cookies. By now, i'm using puppeteer to launch an external chrome window. I would like to embed it into vscode directly and i though vscode-browser-preview may be of help to achieve so but i have no clue how to tackle this problem. Is there a way to launch vscode-browser-preview command

[2020-12-08 13:18] GuillaumeBlin commented on #168
Great work by the way :)

[2020-12-12 12:47] magusikrak commented on #166
@yume-chan that is a bunch of codes. What am I to do with it? Can you please guide me?

[2020-12-13 05:49] sar commented on #166
Just install the [Debugger for Chrome](https://marketplace.visualstudio.com/items?itemName=msjsdiag.debugger-for-chrome) extension and create a `.vscode/launch.json` with the properties mentioned in the docs.

Here's a visual guide on [launching the debugger](https://github.com/auchenberg/vscode-browser-preview/blob/master/docs/DEBUGGING.md) with `browser-preview` attached that respects breakpoint

[2020-12-15 15:46] StevenSempels opened #171 "Sharing browsers with VSCode Live share inside of Remote SSH"
Hi,

The Situation:
Because of company policies I a forced to work on a company laptop without admin rights. I do have access to an Azure VM (linux) where I do have admin rights. So I connect to the VM using Remote SSH extension. When I am connected I use the Live share extension to pair program with other people.

The Problem:
We both have the browser preview extension installed but only the pers

[2020-12-21 18:43] auchenberg commented on #171
Do both of you have Chrome installed on your Azure VM?

[2021-01-07 12:43] brianking opened #172 "Open VSX Listing: Signing the Publisher Agreement"
RE: https://open-vsx.org/extension/auchenberg/vscode-browser-preview

Thank you for being part of the Open VSX community by adding your extensions to the Open VSX Registry. Please note that the service was recently transferred to the Eclipse Foundation and urgent action on your part is needed so we can continue to list your extensions. To ensure uninterrupted service, please sign the Eclipse Publi

[2021-01-07 13:05] brianking commented on #172
I just noticed the extension was published by someone else, but you still have the opportunity to claim the namespace and continue to publish.

[2021-01-08 09:47] LujiAnna commented on #17
Did you figure this out already?

[2021-01-11 16:30] seegraswiese commented on #75
I have the same Problem (bp 0.6.7, vsc 1.52.1, xubuntu 20.10).
Resolution is blurry, but I dragged the divider of the tab mutlitple times to change the size of the browser preview, and I could get a sharp image at some positions.

[2021-01-13 02:20] Clearlove-X commented on #136
I have encountered the problem that Chinese characters cannot be displayed normally

[2021-01-13 02:44] Clearlove-X commented on #136
I solved it because my host is missing some related components

[2021-01-16 00:56] seiferthan opened #173 "Browser Preview always shows Blank page(with Debugger for Chrome)"
Dear Sir:

I appreciate that you developed this VSCode plugin. Before installing it, I have checked and confirmed that there had been Debugger for Chrome in my VSCode.

However, it always shows the "blank page," even I add the launch.json configuration 100% as your suggestion in the introduction tapped on the VSCode plugin marketplace. Besides, the title of the inside browser is always "about blan

[2021-01-19 13:35] brianking commented on #172
@auchenberg Bringing this to your attention again in case you missed it.

[2021-01-21 06:42] ExploitedCracking opened #174 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-browser-preview`
- Extension Version: `0.6.7`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-02-03 05:56] dooriya commented on #57
@auchenberg @gjsjohnmurray Any update or idea about this issue?
We've got the same problem here when open a new popup window to handle the OAuth authentication flow, which needs to set the `window.opener` or `window.parent` to its main window.

[2021-02-06 17:52] santiagobasulto opened #177 "Browser preview creates a million tabs"
https://user-images.githubusercontent.com/872296/107125823-c3854a00-688a-11eb-8645-a640c11f3bf3.mp4

[2021-02-10 16:47] bitbldr opened #178 "Browser preview doesn't work in Safari"
I know its not the typical use case, but using code-server (vscode on a remote server) with browser preview (in iOS) would be a great for web development on iPad, but it appears to render a checkered grid instead of the page.

Looking at the css, there is a css class being applied to the rendered page: .img-hidden{ display: none }. My guess is that this class is supposed to be removed somehow when

[2021-02-12 23:09] ntindle commented on #140
I was unable to find time to open an issue upstream. I'm sorry for the late update but I had a question that was unanswered and it slipped my mind to follow up.

[2021-02-20 19:38] #142 closed

[2021-02-20 19:53] auchenberg commented on #172
I don't have an overview of the value publishing this extension to Open VSX, nor have I published https://open-vsx.org/extension/auchenberg/vscode-browser-preview which seems to have been done on my behalf.

@brianking Please remove this listen.

[2021-02-20 19:53] #172 closed

[2021-02-20 19:55] auchenberg commented on #178
This extension has never been tested outside of Electron, so that's a new use-case. The rendering pipeline is using the hidden image to convert the base64 PNG to an image, which is then rendered to the <canvas>

So something must go wrong in the process of decoding the base64 to img.

[2021-02-20 19:55] #174 closed

[2021-02-20 19:56] auchenberg commented on #166
Closer as the help is provided in the last comment.

[2021-02-20 19:56] #166 closed

[2021-02-20 19:57] auchenberg commented on #140
Already tracked in https://github.com/auchenberg/vscode-browser-preview/issues/31 so closing

[2021-02-20 19:57] #140 closed

[2021-02-20 19:59] auchenberg commented on #168
You might be able to use https://marketplace.visualstudio.com/items?itemName=ms-edgedevtools.vscode-edge-devtools to connect to the browser preview.

Closing as this is out of scope for the extension.

[2021-02-20 19:59] #168 closed

[2021-02-20 20:00] #161 closed

[2021-02-20 20:01] auchenberg commented on #173
What do you have running on `http://localhost:4000`? You need a local server, just like if you visited the url in Chrome.

[2021-02-20 20:02] #137 closed

[2021-02-20 20:02] #123 closed

[2021-02-20 20:02] #116 closed

[2021-02-20 20:02] auchenberg commented on #86
Landed.

[2021-02-20 20:02] #86 closed

[2021-02-20 20:04] auchenberg commented on #57
Top of mind I don't think there's a way to make this possible. I'd appreciate if someone could research this in depth.

[2021-02-20 20:45] auchenberg commented on #177
@santiagobasulto Very interesting. Does this happen if you only have the browser preview extension installed?

[2021-02-20 20:46] auchenberg commented on #165
Browser Preview doesn't support automatic refreshing, just like your normal browser. Use webpack or similar to enable this for your local web server.

[2021-02-20 20:46] #165 closed

[2021-02-20 20:46] auchenberg commented on #167
Browser Preview doesn't support automatic refreshing, just like your normal browser. The intention is to keep this a browser, and offload this to webpack or similar to enable this for your local web server.

[2021-02-20 21:06] auchenberg commented on #163
Duplicate of https://github.com/auchenberg/vscode-browser-preview/issues/177

[2021-02-20 21:06] #163 closed

[2021-02-21 13:03] stepanjakl opened #180 "Any way to switch browser to Edge?"
Hello,

I noticed the Browser Preview should now supports Microsoft Edge, but I don't see any option for switching between the browser engines.

I changed the 'Chrome Executable' in the Settings, however I get an error and it's probably not even the correct way of changing it.

Any ideas?

<img width="936" alt="Screenshot 2021-02-21 at 12 59 22" src="https://user-images.githubusercontent.com/47005

[2021-02-21 21:46] auchenberg commented on #180
Manual browser priority isn't supported today. The only way is what you defined here, but the path isn't accessible from VS code, so something is probably wrong with the path or permissions.

[2021-02-23 06:09] lukavida opened #181 "Feature request: Open browser in sidebar"
Hey, great plugin, wondering how much work would be required to enable showing the browser in the sidebar (similar to Explorer/Search/Source control/etc.)

I guess many could use it to keep notes in their favorite web app while developing, etc.

[2021-02-23 12:24] brianking commented on #172
@auchenberg Apart from your extension being available to many more users in applications that support VS Code extensions, some of the value is outlined in this post:
https://www.eclipse.org/community/eclipse_newsletter/2021/january/1.php

As the extension has an MIT license, we've taken over the publishing of the extension for now.

/cc @spoenemann

[2021-02-25 00:54] dorin1000 opened #182 "Unbound breakpoint when debugging"
I am using Live Server for hosting and trying to set up debug breakpoints. I have the Debugger for Chrome installed and the following launch.json configurations:
[code]
The debugging console works and outputs properly, but setting breakpoints does not work. When setting them, they appear as red and when the code is executed the breakpoints do not trigger and switch to blank points saying that they

[2021-02-25 14:34] santiagobasulto commented on #177
@auchenberg yes, I thought I had hit a weird combination of keys... but if there are others with the same issue, it must not be the case.

[2021-03-03 11:13] uxkjaer opened #183 "Call preview command from other extension with URL"
Hi,

I've seen your extension and it might be just what i'm looking for. I have some issues with just using the "standard" webview beacuse of the webpage I'm trying to render.

IS there any possibility to call this extension via a command browser-preview.openPreview and then with the URL to open?

[2021-03-03 11:21] #183 closed

[2021-03-04 19:03] auchenberg commented on #75
Looks like a solution have been found in the fork of BrowserPreview, https://github.com/antfu/vscode-browse-lite/commit/94b4064122aff4a9be515a0d0fe50c51c6ac0f28

[2021-03-04 19:04] auchenberg commented on #92
Looks like a solution have been found in the fork of BrowserPreview, https://github.com/antfu/vscode-browse-lite/commit/94b4064122aff4a9be515a0d0fe50c51c6ac0f28

[2021-03-06 18:07] auchenberg commented on #182
There's no technical difference between the two debuggers, as browser preview is simply starting the Chrome debugger behind the scenes,, so I'm wondering what it could be.

[2021-03-06 18:08] auchenberg commented on #181
This would be out of scope for browser perview, as we can't find in all the UI etc. Maybe VS Code will allow editors to be dragged into the sidebar one day.

[2021-03-06 18:08] #181 closed

[2021-03-06 18:09] #173 closed

[2021-03-12 17:43] lakshits11 opened #184 "Default Start URL set to "localhost/" not working..(ignore the double quotes)"
Set default url to open to localhost not working

[2021-03-12 21:45] kiliman commented on #184
This is what I have in my settings and it's working fine for me.

![image](https://user-images.githubusercontent.com/47168/111001551-fde27b00-8351-11eb-96a1-67d0aa0d5073.png)

![image](https://user-images.githubusercontent.com/47168/111001726-4a2dbb00-8352-11eb-9b30-5a0f98b7c068.png)

[2021-03-13 12:18] lakshits11 commented on #184
OK thank you BTW can u tell me which theme u r using? 😅😅

[2021-03-13 13:46] kiliman commented on #184
I'm using the theme Cobalt2 by Wes Bos https://marketplace.visualstudio.com/items?itemName=wesbos.theme-cobalt2

I'm also using the font Operator Mono Lig (a customized version of Operator Mono with ligatures) https://github.com/kiliman/operator-mono-lig

[2021-03-13 13:48] lakshits11 commented on #184
Thank you for your reply. 😀

On Sat, 13 Mar, 2021, 7:17 pm Kiliman, ***@***.***> wrote:

[2021-03-13 20:07] #184 closed

[2021-03-19 19:59] CrystalxCode commented on #75
Same problem here. I run Xubuntu 18.04 on my LCD laptop. It seems to get sharper the more I zoom into the vscode window though. But, I don't like having my vscode window at 100% scale but rather 80%.

80% zoom vscode via the CTRL + and -
![condition80](https://user-images.githubusercontent.com/60084007/111835952-01cf4980-88cc-11eb-8d65-5f07f60fe084.png)

100% zoom vscode via the CTRL + and -
![con

[2021-03-20 13:17] Snir-Dekel commented on #75
browser preview lite (https://github.com/auchenberg/vscode-browser-preview) seems to work a little bit better, when window.zoomLevel is set to 0 the rendering seems to work fine, but it is still annoying to keep vs code at this zoom level.

[2021-03-20 23:19] CrystalxCode commented on #75
What I am curious is why we couldn't just have an iframe with the site contents. Maybe I just don't know that much about vs-code extensions but I really only use vscode-browser-preview to have my browser contained in vs-code.

[2021-03-21 06:42] warpdesign commented on #75
Security concerns I guess.

[2021-03-30 07:41] vith opened #189 ""Updated" notification popping up semi-frequently"
https://github.com/auchenberg/vscode-browser-preview/blob/f3c9ceef3162be248cf50a926eb11695f12c0323/ext-src/telemetry.ts#L67

I'm not sure what this is supposed to mean to me as a user; for a long time I didn't know what extension was causing it. I think I see this pop up a few times a day for some reason.

Is this just leftover debugging that can be removed? Or maybe the message can be clarified,

[2021-03-31 15:01] wisdomlight opened #190 "No Chrome installation found, or no Chrome executable set in the settings - used path null"
Debian 11 (bullseye/sid)
Gnome 3.38. 4
I have both Chrome and Chromium on the system.
On VSCodium - I get this No Chrome installation found, or no Chrome executable set in the settings - used path null

I did see some discussion about this but did not understand what was the actual solution(at least not for simple person)
Any advice?
Thank you

[2021-04-01 03:18] auchenberg commented on #189
@vith Good catch, yes this should be removed.

[2021-04-01 03:18] #189 closed

[2021-04-03 03:25] vhanla commented on #180
![imagen](https://user-images.githubusercontent.com/1015823/113466476-d2f3c000-9401-11eb-848c-e0a9031e67c8.png)

Same on Windows, it still shows **Chrome Executable** as input, I've tried all combinations of correct file slash or backslash, double slash, and it keeps showing that error message.

[2021-04-06 15:21] f3d3r1c00 opened #191 "WhatsUpWeb Support!!!"
![what'supWeb_support](https://user-images.githubusercontent.com/77356557/113735030-21ec6e80-96fc-11eb-8b64-eab8d6cebda9.png)
one image worth a thousand words...
please update headless chromium version and eventually think about enabling use with scrapy-selenium for the next futere will be usefull to have it!!
Great extension nonetheless

[2021-04-07 02:30] konsumer opened #192 "Can't paste text into browser window"
I can't paste text into a textarea in the browser preview, inside vscode.

For example, if I highlight something in editor, Ctrl-C, then click in area on web-page & Ctrl-V, nothing. Linux middle-click-paste is also not working: it can paste text to itself, like from somewhere else in same browser preview, but not from anything else.

OS: Linux Pop!_OS 20.10
VSCode:  1.54.3
Browser Preview: 0.7.0

[2021-04-09 12:35] blfunex opened #193 "Add an option in settings to add arguments to the executable."
My plan was to use `--user-data-dir="/tmp/chrome_dev_test" --disable-web-security` to overcome some CORS issues and work on mind my frontend business, but I could not.

[2021-04-11 06:51] jamilraichouni commented on #189
Hi!

First: Thanks for that extension!
Second: May you publish a new release where that message disappears?

Thank you,
Jamil

[2021-04-11 20:26] auchenberg commented on #191
Browser Preview is using your local Chrome or Edge instance behind the scene, so please check your Chromium version.

[2021-04-11 20:26] #191 closed

[2021-04-11 20:26] auchenberg commented on #182
Closing due in activity.

[2021-04-11 20:26] #182 closed

[2021-04-11 20:29] auchenberg commented on #190
BrowserPreview hasn't been tested in VSCodium, so if someone can help debug this it would be great.

[2021-04-11 20:29] #167 closed

[2021-04-11 20:30] auchenberg commented on #171
Closing due to inactivity.

[2021-04-11 20:30] #171 closed

[2021-04-11 20:30] auchenberg commented on #141
Verified in the latest Insider build.

[2021-04-11 20:32] auchenberg commented on #189
@jamilraichouni Done

[2021-04-12 07:13] wisdomlight commented on #190
ok thank you.

[2021-04-13 06:04] mariosamaaa opened #194 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-browser-preview`
- Extension Version: `0.7.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-04-13 17:23] #194 closed

[2021-04-14 03:38] K1ngs1 opened #195 "No support launch config was found"
It shows me **no support launch config was found whenever** I try to run my code

[2021-04-23 03:24] 8thHalfHour commented on #118
Sorry to come along this so late, but this is not working for me when running the extension in code-server on Linux Mint 20. It works great in VSCode on that same system, but not in code-server. I keep seeing mention that chromium needs to be installed on the same system, and it is, but I also see something in these messages about setting specific permissions on the chromium binary. Can any of you

[2021-04-23 19:40] BstevensG4G opened #196 "Redwood JS IDE extension plugin conflict"
I believe this may be an extension load order issue as presented in VS Code's repository feature request here:
Feature: Specifying the load order of extensions (reduce startup wait-time) [#46846](https://github.com/microsoft/vscode/issues/46846)
It shows up in an issue that was incorrectly brought up in the Redwood repository issue tracking here:
[VS Code Extension wont load in remote - ssh mode.

[2021-05-01 07:09] julien-boyer opened #197 "Feature: Add an option to open the view in the current tab group."
Hey nice job with this extension.
However I was a bit surprised the web view splitted the screen and created a new tab group, wich is not the standard behavior for opening new editors in vscode.
It would be nice if we can choose instead to open the view as a normal tab in the current group.
Greetings.

[2021-05-05 12:44] anburocky3 commented on #92
+1

[2021-05-05 12:46] anburocky3 commented on #92
In VSCode-browse-lite too, it is blurry.

[2021-05-08 17:50] matrix-ranger opened #198 "Remove white boundary or adapt to dark theme"
There is always some white boundary and tab as shown below, which drives me crazy. Can we make it seamless or adapt to dark themes of vscode.

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/48684632/117548692-e03b4480-b068-11eb-981a-2c6d42eed22a.png">

[2021-05-10 17:32] matrix-ranger opened #199 "Question: why do we need external chrome installed"
I am a little confused. Isn't VSCode based on Electron and Electron based partly on Chromium? Why do we need an extra Chrome for browser preview?

[2021-05-10 18:22] #199 closed

[2021-05-20 22:04] titogarrido commented on #118
Hi, I am running a code-server on ubuntu 18.04 and installed chromium-browser... When I execute via terminal, chrome works and open using an external X... But when I try it from Browser Preview it shows just a blank screen. How can I fetch errors for it?

![image](https://user-images.githubusercontent.com/333484/119054362-e18c3b80-b99d-11eb-9cac-88128a3ac836.png)
![image](https://user-images.githu

[2021-06-02 01:39] CcRLyv opened #200 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-browser-preview`
- Extension Version: `0.7.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.2`

[code]

[2021-06-03 21:30] #198 closed

[2021-06-14 17:42] c3-william-peng opened #201 "Add an option to include Cmd-Line Arguments"
It would be nice to have the ability to add our own Cmd Line Arguments to the Chromium executable, as I am trying to add `--app={URL}` to remove the navigation bar and increase space.

[2021-06-14 19:41] auchenberg commented on #201
Thanks for the issue! Duplicate of https://github.com/auchenberg/vscode-browser-preview/issues/193

[2021-06-14 19:41] #201 closed

[2021-06-14 19:41] auchenberg commented on #200
@CcRLyv Can you add any detail here?

[2021-06-15 16:37] CcRLyv commented on #200
Sometimes, the extension take a lot of time in load to open or finally not open and terminate with the load workflow of extensions.
Lately I don't have the problem to attach an image, but if I get the problem, I will.

[2021-06-15 22:56] thedavidprice commented on #196
Hi @BstevensG4G We are in between major changes and updates to the Extension. The current codebase is effectively going to be replaced, which is a great thing overall. It's still just a couple of months out.

We're paying attention to open Issues and will update accordingly. Thanks for your patience!

[2021-06-18 18:47] aaricrubel commented on #75
It works perfectly when my scaling is set to 100% on Windows but it is too small for me. I need to keep it at 115% to have a good workflow on all apps. Can we add a custom scaling factor for only this extension's window?

[2021-06-19 03:58] RobJacobson opened #202 "Blurry text/graphics on High DPI notebook (4K)"
I'm running this in VS Code on my Windows 10 notebook, which has a 4K display.

I installed vscode-browser-preview today but was disappointed with the display quality.  The text wasn't crisp and the images had major compression artifacts.  I've attached some side-by-side comparison shots with Firefox on my notebook.

Is this not rendering native HTML?  It almost looks like video with lossy compres

[2021-06-22 21:03] auchenberg commented on #92
Duplicate of https://github.com/auchenberg/vscode-browser-preview/issues/75

[2021-06-22 21:03] #92 closed

[2021-06-22 21:04] auchenberg commented on #202
Thanks for the report! Probably same as https://github.com/auchenberg/vscode-browser-preview/issues/75

[2021-06-26 16:20] sergiubacioiu commented on #75
Same problem here! Tested with scaling set to 100% on Windows but the issue is still there!

[2021-06-27 11:03] jonkri commented on #75
I'm getting this problem on GNU/Linux as well.

[2021-06-28 08:57] GitMensch commented on #77
I second that, would have to add `--allow-file-access-from-files`. Still opening a new issue because - shouldn't that be a default for this extension?

[2021-06-28 09:02] GitMensch opened #203 "Add `--allow-file-access-from-files` to default runtime arguments ... in trusted workspaces"
Reasoning: This is an extension for developers which will open local files - of course these should be able to include local files...
See https://stackoverflow.com/questions/4558160/xsl-not-working-in-google-chrome for some details (and the reason that this is not the default in chrome, as it [also isn't in firefox](https://support.mozilla.org/de/questions/1264318)).

As vscode introduced the trus

[2021-06-28 09:02] GitMensch commented on #190
Works in general here and as VSCodium is a build of vscode repo so is identical for everything that is not explicit license restricted (like the market place) or non-free and only added by MS during the build process I see no reason that this could be the root issue. It is likely about the extension not finding the chrome/chromium binary.

[2021-06-30 02:47] iecxiv opened #204 "please add scroll support"
when in touchscreen scroll is not working, would be fabulous add this option, or/and show scroll bar

[2021-06-30 03:10] auchenberg commented on #204
Mouse scroll is already supported, allowing you to scroll on regular pages. What's the specific scenario you are looking for?

[2021-06-30 03:14] iecxiv commented on #204
i am working on 2in1 computer, with touchscreen, if i want to scroll touching my screen i cant.
yes with mouse scroll works great, but in touchscreen dowsnt works.
have I answered your question?

[2021-06-30 03:19] iecxiv commented on #204
sorry,
using this two extensions:
https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer
+
https://marketplace.visualstudio.com/items?itemName=auchenberg.vscode-browser-preview

[2021-06-30 03:31] auchenberg commented on #204
Gotcha, so what you are requesting is touchscreen support for scrolling. Gotcha.

[2021-06-30 03:36] iecxiv commented on #204
yes. should be awesome. thanks in advance, best regards

[2021-07-02 09:55] Geod24 opened #205 "Bug: Extension is non-responsive after computer lock"
System: Macbook pro - MacOS Big Sur 11.3.1 (model 2018)
VSCode:
[code]
Browser preview v0.7.1

First, thanks for the extension! I started using it recently and noticed that it sometimes became unresponsive.
After a bit I noticed that this happens when I unlock my computer (I lock with the key combination Ctrl + Command + Q).
I usually have to restart the tab because I can't click anywhere (address

[2021-07-18 10:46] IamAyokeys opened #208 "Failed to launch chrome spawn C:\program files(x86)Google\chrome\Application\chrome.exe ENOENT"
each time i try to run my browser preview in vs code this is the error message i get
![Screenshot (1)](https://user-images.githubusercontent.com/85910793/126064312-2bbba8ae-8b79-4af8-96df-af028a291fa9.png)

[2021-07-21 16:56] huds0nx opened #209 "How do I use this with Brave Browser?"
Is it possible to use Brave Browser with this extension? It is built on Chromium, but I just can't find how I would do it.

[2021-07-21 17:49] huds0nx commented on #209
Nevermind, I got it

[2021-07-21 17:49] #209 closed

[2021-07-26 07:32] ChristianKohler commented on #114
I would love to have this feature. @auchenberg What would we need to do to make that work? What was missing in #103 ?

[2021-07-27 05:50] ameymodak1991 opened #212 "Launching the preview second time using the icon causes it to launch in incorrect section of the viewport"
VS Code:
Version: 1.58.2 (user setup)
Commit: c3f126316369cd610563c75b1b1725e0679adfb3
Date: 2021-07-14T22:10:15.214Z
Electron: 12.0.13
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042

Browser preview:
0.7.1

issue:

Launching the preview a second time causes it to open in place of the explorer with a blank screen

Please see the attached gif
![previe

[2021-08-04 19:42] abhinandanarya06 opened #213 "Turning off inspect leads to last hovered page element still get highlighted"
https://user-images.githubusercontent.com/52771399/128243460-96384707-eb4b-4a8c-b483-15414ae04a33.mp4

## Steps to reproduce
1. Open browser preview and go to any website
2. Turn on inspection and move mouse through page and turn of inspection
3. Last hover selected element will still be highlighted

## Possible Solutions
1. May be adding hard canvas reload of extension should work.
2. Don't know

[2021-08-06 22:35] CheyenneForbes commented on #106
@auchenberg any updates on this?

[2021-08-26 21:39] wgyt opened #214 "Allow users to pass flags to Chromium"
You should be able to pass flags to Chromium.

[2021-08-31 20:33] A-ElNawawy commented on #135
@blizzardengle
check this, it can be useful for you
https://www.youtube.com/watch?v=vHZPeohPHqo

[2021-08-31 21:39] zurgeg opened #215 "Firefox Support"
As a guy who likes to use FOSS stuff, I love Firefox.

It'd be nice if this extension supported Firefox

[2021-09-01 15:43] zurgeg commented on #215
Alright so I took a look, it appears Puppeteer [can actually work with Firefox](https://hacks.mozilla.org/2021/01/improving-cross-browser-testing-part-2-new-automation-features-in-firefox-nightly/) (which according to `package.json` is what you are using)
However, I believe a config option such as "Firefox Mode" would be helpful for this rather than assuming everyone uses Firefox (which of course,

[2021-09-10 02:40] alphaerp opened #218 "a few characters appear as black squares, or gibberish"
ide-env:
code-server v3.93
vscode v1.54.2
![img](https://s3.bmp.ovh/imgs/2021/09/e6b444b5a703aab9.png)

[2021-09-10 19:51] digitarald opened #219 "Migrate to Live Preview"
We are planning to migrate from this extension to [Live Preview](https://github.com/microsoft/vscode-livepreview).

The main reasons are that @auchenberg doesn't have time for maintenance and that many of the features covered in this extension like in-editor preview and debugging are provided by [Live Preview](https://github.com/microsoft/vscode-livepreview) (also thanks to new support for [webvie

[2021-09-18 22:23] altosaar commented on #75
Still an issue on Windows :(

[2021-09-25 07:15] RobJacobson commented on #202
Thank you! I'll close this issue in favor of #75. However, the fact that this has been a "known issue" since 2019, and remains open today, disappoints me a bit. 😢

Maybe I just have OCD, but viewing a "blurry version" of my website -- after working so hard to "make it pretty" -- is not a fun experience. I'd rather use an external browser.

[2021-09-25 07:15] RobJacobson commented on #202
Thank you! I'll close this issue in favor of #75. However, the fact that this has been a "known issue" since 2019, and remains open today, disappoints me a bit. 😢

Maybe I just have OCD, but viewing a "blurry version" of my website -- after working so hard to "make it pretty" -- is not a fun experience. I'd rather use an external browser.

[2021-09-25 07:15] #202 closed

[2021-09-26 05:58] Enteleform commented on #113
@auchenberg

Still open to a PR for this?

I have it mostly working so far:

https://user-images.githubusercontent.com/10906415/134795375-52bea0ce-5a95-4ae4-a111-8ec7e207d221.mp4

----

Had to decode the SVG URLs & set them up as `<svg>` elements so I could utilize `fill="currentColor"`.

Still needs a bit of work, especially for light themes, gotta look into detecting whether the current theme is

[2021-09-26 18:09] auchenberg commented on #113
@Enteleform See https://github.com/auchenberg/vscode-browser-preview/issues/219

[2021-09-27 13:17] Enteleform commented on #219
@digitarald

Do you have any ideas of what the second point entails so far?

&nbsp;
I switched to Browser Preview because I'm using some ESNext features that were not working with the built-in Simple Browser. I was able to resolve this by utilizing the `chromeExecutable` setting with MS Edge.

&nbsp;
After you pointed me to the deprecation notice, I checked out Live Preview, but immediately found

[2021-09-30 22:16] sentry07 commented on #219
I am using Browser Preview with my custom language extension for in-editor help. It opens an external website URL which does not seem to be supported by Live Preview. There are no alternatives to these two extensions currently on the marketplace. Does this announcement mean that Browser Preview will one day no longer be available on the marketplace as a dependency?

[2021-10-03 19:46] Glieo opened #221 "How do i use it on arm？"
I can't install chrome on arm

[2021-10-09 12:21] s4m-mo opened #222 "Query: Will Browser Preview be kept available?"
I love browser preview. Will it be kept available since it is now deprecated? I hope you keep it on the marketplace

[2021-10-10 08:02] #221 closed, assigned to nobody

[2021-10-18 06:26] sang8052 opened #223 "how to use in web ide"
I download and install this plugin in web using code-server(https://github.com/cdr/code-server)
then i just want to show page-preview  , but i don't know how set the path of chrome
so any body can help me

[2021-10-31 01:01] harsh2201 opened #224 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-browser-preview`
- Extension Version: `0.7.2`
- OS Version: `Windows_NT x64 10.0.22000`
- VS Code version: `1.61.2`

[code]

[2021-11-04 23:13] metalshanked opened #225 "please continue this extension"
Seems like this excellent extension is being deprecated in favor of Live preview.

Live preview does not offer the below features and does not seem to be in its roadmap either
1. Use the embedded browser like a standalone webbrowser to browse websites (any website)
2. Live preview does not have a handy button to launch the browser on the activity bar
3. Live preview does not open external websites

[2021-11-12 08:39] #213 closed

[2021-12-08 02:40] anwar3606 commented on #225
@auchenberg, please the above comment

Even though vscode implemented a "Simple Browser" option, it doesn't work,
https://github.com/microsoft/vscode/issues/127141

And nowadays, where the vscode server is open-sourced and can be self-hosted in a server to access it from a browser,
This extension comes in extremely handy.

I also like the development to be continued.

[2021-12-24 02:54] #214 closed

[2022-01-24 13:12] curtoneyoung commented on #137
how do you open active file in preview?

[2022-02-10 23:12] #20 closed

[2022-02-10 23:13] #21 closed

[2022-02-25 01:19] kajang93 commented on #208
Is it resolved?... i have the same problem

[2022-02-25 07:04] IamAyokeys commented on #208
No its not

On Fri, 25 Feb 2022, 02:19 kajang93, ***@***.***> wrote:

[2022-06-25 12:35] y-chen commented on #225
I agree.

Live preview it's just not the same thing. I don't need to run a web server and then open a tab in vscode. I need just to open a browser in vscode so I can check the changes without switching to another app (I often work with just the laptop screen).

To run the web server I already use other CLI tools that reload the pages at every change.

Now from vscode v1.68 it's not possible to ins

[2022-07-02 09:14] y-chen commented on #225
Funny enough; in the project I am working on Browser preview it's the only way I found to successfully set breakpoints and debug the frontend Angular app. :D

For sure there are other tools and ways to do it but I already spent some time before and frankly I don't have other time to spend on it. Plus, now I have breakpoints and browser in vscode. :)

So, yeah I can't really afford to lose this ext

[2022-07-02 09:33] uyar commented on #225
@y-chen Did you try antfu/vscode-browse-lite?

[2022-07-02 10:03] y-chen commented on #225
@uyar thanks very much for the hint!

It looks a very nice extension with even the development toolbar, will be useful to check the console messages.

Unfortunately when I try to launch it in debug mode I get `Couldn't find a debug adapter descriptor for debug type 'chrome' (extension might have failed to activate)`.

I guess I will use Browser Preview to debug but I will definitely keep both.

Th

[2022-07-23 13:23] digitarald commented on #225
I totally understand the dependency of the current use cases that are not supported with iframe-based solutions like Live Preview. As the team investigates how to move the features of this extension forward, I did update the deprecated list so users can still install the extension.